<div class="footer-rba">
    <div class="div-1UU">개인정보처리방침</div>
    <div class="div-fJ8">
        <img class="logo44-1-BXN" src="./assets/logo44-1-kor.png" />
        <div class="address-hkc">
            <div class="auto-group-ntgt-qrp">
                <div class="item-31-15-34-zUp">광주 동구 예술길 31-15 3~4</div>
                <div class="span-4Dn">
                    <div class="item--zt8">대표전화</div>
                    <div class="item-062-1234-5678-W5n">062-1234-5678 </div>
                </div>
            </div>
            <div class="email-smartboothsolsbsolcom-c8p">email : smartboothsol@sbsol.com</div>
            <div class="copyright-sb-sol-all-right-reserved-8cx">Copyright SB SOL. All Right Reserved.</div>
        </div>
    </div>
</div>