<div class="footer-R9A">
  <div class="div-9qr">개인정보처리방침</div>
  <div class="div-eGp">
    <img class="logo44-1-Yd6" src="/assets/logo44-1-Zyz.png" />
    <div class="address-svG">
      <div class="auto-group-m1ha-Bg4">
        <div class="item-31-15-34-wv8">광주 동구 예술길 31-15 3~4</div>
        <div class="span-pDE">
          <div class="item--7y2">대표전화</div>
          <div class="item-062-1234-5678-qe8">062-1234-5678 </div>
        </div>
      </div>
      <div class="email-smartboothsolsbsolcom-xik">email : smartboothsol@sbsol.com</div>
      <div class="copyright-sb-sol-all-right-reserved-sqi">Copyright SB SOL. All Right Reserved.</div>
    </div>
  </div>
</div>