<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>관리자 - 부스 추가</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A100%2C300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A100%2C300%2C400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500"/>
  <link rel="stylesheet" href="/styles/conaddbooth.css"/>
</head>
<body>
<div class="conaddbooth-bct">
  <div class="auto-group-4seq-K36">
    <div class="footer-Zy2">
      <div class="footer-uGC">
        <div class="div-F5A">개인정보처리방침</div>
        <div class="div-mhi">
          <img class="logo44-1-5iQ" src="/assets/logo44-1-QRE.png"/>
          <div class="address-nsi">
            <div class="auto-group-m6cx-imN">
              <div class="item-31-15-34-Gnt">광주 동구 예술길 31-15 3~4</div>
              <div class="span-jRa">
                <div class="item--UPA">대표전화</div>
                <div class="item-062-1234-5678-NzL">062-1234-5678 </div>
              </div>
            </div>
            <div class="email-smartboothsolsbsolcom-5dr">email : smartboothsol@sbsol.com</div>
            <div class="copyright-sb-sol-all-right-reserved-DEG">Copyright SB SOL. All Right Reserved.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-v8g">
      <div class="div-Ev4">부스 추가</div>
      <form action="/conaddbooth" method="post">
      <div class="auto-group-fkkc-v2C">
        <div class="frame-11-FqA">
          <input type="text" name="bname" placeholder="부스명을 입력하세요" class="frame-8-BD2"></input>
          <input type="text" name="baddress" placeholder="부스 주소를 입력하세요" class="frame-9-3m2"></input>
          <input type="text" name="bemail" placeholder="시설 관리자 Email을 입력하세요" class="frame-10-93N"></input>
        </div>
        <div class="button-s-40-p9W">
            <button type="submit" class="label-HHz">부스 추가</button>
            <button type="button" onclick="location.href='/con_b_check'" class="label-HHzz">취소</button>
        </div>
      </div>
    </form>
    </div>
    <div class="item--M2x">
      <a href="/conmain"><img class="logo44-1-EcY" src="/assets/logo44-1-iVn.png"/></a>
      <div class="ul-MSG">
        <a href="/conuserinfo" class="item--hW8">회원 정보 조회</a>
        <a href="/conbcheck" class="item--zk8">부스 관리 &amp; 로그 확인</a>
        <a href="/connboard" class="item--t4p">공지 게시판</a>
        <a href="/conqboard" class="item--bE8">건의사항 </a>
      </div>
      <a href="/" class="item--7CU">로그아웃</a>
    </div>
  </div>
</div>
</body>