<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>관리자 - 메인 페이지</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A100%2C300%2C400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A100%2C300%2C400"/>
  <link rel="stylesheet" href="/styles/conmain.css"/>
</head>
<body>
<div class="conmain-2CY">
  <div class="div-aE4">
    <div class="item--8mN">
      <div class="auto-group-cyha-UqE">
        <div class="auto-group-trxe-QD6">
          <div class="item--XYc">
            <div class="auto-group-rxqa-sMa">
              <a href="/conmain"><img class="item-1-boN" src="/assets/-rwS.png"/></a>
            </div>
            <div class="ul-jPn">
              <a href="/conuserinfo" class="item--5yS">회원 정보 조회</a>
              <a href="/conbcheck" class="item--NxY">부스 관리 &amp; 로그확인</a>
              <a href="/connboard" class="item--Go2">공지 게시판</a>
              <a href="/conqboard" class="item--aYp">건의사항</a>
              <form action="/logout" method="get">
              <button type="submit" class="item--5Va">로그아웃</button>
              </form>
            </div>
          </div>
        </div>
        <div class="item--ahE">관리자용 페이지</div>
      </div>
      <div class="footer-HLk">
        <div class="div-EFz">개인정보처리방침</div>
        <div class="div-JFr">
          <img class="logo44-1-d3E" src="/assets/logo44-1-LTJ.png"/>
          <div class="address-YR6">
            <div class="auto-group-aa56-tE4">
              <div class="item-31-15-34-36x">광주 동구 예술길 31-15 3~4</div>
              <div class="span-76p">
                <div class="item--4Gx">대표전화</div>
                <div class="item-062-1234-5678-Aqn">062-1234-5678 </div>
              </div>
            </div>
            <div class="email-smartboothsolsbsolcom-Gtp">email : smartboothsol@sbsol.com</div>
            <div class="copyright-sb-sol-all-right-reserved-C1n">Copyright SB SOL. All Right Reserved.</div>
          </div>
        </div>
      </div>
      <div class="item--8mN-bg">
      </div>
    </div>
  </div>
</div>
</body>