<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>회원가입</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit%3A400%2C700%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700%2C900"/>
  <link rel="stylesheet" href="./styles/join.css"/>
</head>
<body>
<div class="join-M6p">
  <div class="sign-in-USL">
    <a href="/"><img class="kakaotalk2023032910591866106-Q56" src="./assets/kakaotalk2023032910591866106-sRJ.png"/></a>
    <form action="/join" method="post">
    <div class="frame-11-7VJ">
      <input type="text" name="memberId" placeholder="아이디를 입력하세요" class="frame-8-SGg">
      <input type="password" name="memberPw" placeholder="비밀번호를 입력하세요" class="frame-9-X3E">
      <input type="text" name="nick" placeholder="닉네임을 입력하세요" class="frame-10-DAx">
      <input type="text" name="gender" placeholder="성별을 입력하세요" class="frame-8-pwS">
      <input type="text" name="age" placeholder="나이를 입력하세요" class="frame-8-WJU">
      <input type="text" name="yearsSmok" placeholder="흡연 기간을 입력하세요(개월)" class="frame-8-yhr">
      <input type="text" name="dailySmok" placeholder="일일 흡연량을 입력하세요(개피)" class="frame-8-sYL">
    </div>
    <button type="submit" class="frame-6-xZn">회원가입</button>
      <p class="item--2Ze">
        <span class="item--2Ze-sub-0">이미 계정이 있으신가요?</span>
        <span class="item--2Ze-sub-1"> </span>
        <a href="/login" class="item--2Ze-sub-2">&nbsp;&nbsp;로그인 하기</a>
        <span class="item--2Ze-sub-3"> </span>
        <span class="item--2Ze-sub-4"> </span>
      </p>
    </form>
  </div>
</div>
</body>