<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>로그인</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit%3A400%2C700%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700%2C900"/>
  <link rel="stylesheet" href="/styles/login.css"/>
</head>
<body>
<div class="login-BFe">
  <div class="sign-in-Kck">
    <a href="/"><img class="kakaotalk2023032910591866106-3Hr" src="/assets/kakaotalk2023032910591866106-1NQ.png"/></a>
    <form action="/login" method="post">
    <input type="text" name="memberId" placeholder="아이디를 입력하세요" class="auto-group-heu8-iun">
    <input type="password" name="memberPw" placeholder="비밀번호를 입력하세요" class="auto-group-rbeg-Q1v">
    <p class="item--fTe"></p>
    <button type="submit" class="auto-group-uydv-yDS">로그인</button>
  </form>
    <p class="item--zeL">
      <span class="item--zeL-sub-0"> </span>
      <span class="item--zeL-sub-1">계정이 없으신가요? </span>
      <br>
      <a href="/join" class="item--zeL-sub-3">&nbsp;&nbsp;회원 가입하러 가기</a>
    </p>
  </div>
</div>
</body>