<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>유저 - 부스 팀원 소개</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Strong%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A100%2C300%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A100%2C300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A700"/>
  <link rel="stylesheet" href="./styles/userintro.css"/>
</head>
<body>
<div class="userintro-iC8">
  <div class="div-fdA">

    <!-- header 반복 -->
    <%- include('includes/userheader', {session:session})%>
    <!-- header 반복 -->

    <div class="frame-16-7Be">
      <div class="div-SUp">
        <div class="auto-group-wgoi-o4U">
          <div class="div-jip"> 소개 /  문의</div>
          <div class="div-vqE">부스 소개</div>
        </div>
        <div class="frame-36-n6k">
          <div class="frame-37-hzQ">
            <img class="booth11-1-r6c" src="/assets/booth11-1.png"/>
          </div>
          <div class="frame-38-PsE">
            <img class="booth22-1-Mp4" src="/assets/booth22-1.png"/>
          </div>
        </div>
        <div class="gp2y0e03-mq-7-mq-135-max30102-e-mail--tJC">
        - 적외선 거리 측정 센서(GP2Y0E03)를 이용한 사용자 출입 감지
        <br/>
        - 사용자가 입장하고 흡연을 시작하면 센서(MQ-7, MQ-135)로 감지 후 환기팬 가동
        <br/>
        - 바이오 센서(MAX30102)를 이용해 사용자의 신체 정보를 파악
        <br/>
        - 사용자 퇴장 시 조명 소등, 환기 제어, 소독제 및 방향제 분사
        <br/>
        - 고장 여부 판단 후 시설 관리자에게 E-mail 전송
        </div>
        <div class="div-A9E">팀원 소개</div>
      </div>
      <div class="div-dHi">
        <div class="auto-group-uqde-iKA">
          <div class="group-6-TGk">
            <div class="auto-group-adag-M7E">
              <div class="auto-group-6hwv-3Vr">
                <img class="ellipse-8-9Hz" src="/assets/ellipse-8-Vdz.png"/>
              </div>
              <p class="item--g32">오현솔 (팀장)</p>
              <p class="it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-DSG">
              잘 해봅시다<br>
              마무리 잘합시다
              </p>
              <p class="db--RYL">백엔드, DB, 프로젝트 총괄</p>
            </div>
            <div class="rectangle-6-9DS">
            </div>
          </div>
          <div class="group-6-FnG">
            <div class="auto-group-pyig-Nbz">
              <div class="auto-group-rsts-73n">
                <img class="ellipse-8-DsW" src="/assets/ellipse-8-3SG.png"/>
              </div>
              <p class="item--kMe">박효정</p>
              <p class="it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-fUc">처음에 몇 번 갈아엎고 시작한 프로젝트 인 만큼 잘 할 수 있을까 불안했는데 그래도 팀원들과 함께 잘 마무리 된 프로젝트를 보며 지금 뿌듯합니다. 다들 고생하셨고 건강 챙기면서 수업 들어요!!</p>
              <p class="db--VTe">아두이노</p>
            </div>
            <div class="rectangle-6-A3z">
            </div>
          </div>
        </div>
        <div class="auto-group-ve8q-H8c">
          <div class="auto-group-eank-kXz">
            <div class="item-1-GFS">1</div>
            <div class="group-6-NJU">
              <div class="auto-group-3drs-u3W">
                <div class="auto-group-yhma-cCp">
                  <img class="ellipse-8-7QU" src="/assets/ellipse-8-jxc.png"/>
                </div>
                <p class="item--2GY">김민재</p>
                <p class="it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-YEt">
                  제가 많이 부족했는데 팀원들 덕분에 프로젝트 잘 마칠 수 있었습니다. 정말 감사하고 고생하셨습니다</p>
                <p class="db--Zfn">프론트</p>
              </div>
              <div class="rectangle-6-SDn">
              </div>
            </div>
          </div>
          <div class="group-6-P92">
            <div class="auto-group-6rhw-vPr">
              <div class="auto-group-zksg-2St">
                <img class="ellipse-8-w44" src="/assets/ellipse-8.png"/>
              </div>
              <p class="item--Gs2">김유선</p>
              <p class="it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-ymS">모두 고생하셨고 건강히 잘지내세요 수고하셨습니다</p>
              <p class="db--RNY">아두이노</p>
            </div>
            <div class="rectangle-6-M1J">
            </div>
          </div>
        </div>
        <div class="auto-group-klmn-Tq2">
          <div class="group-6-oP6">
            <div class="auto-group-tabi-jXe">
              <div class="auto-group-tre8-sNx">
                <img class="ellipse-8-o1i" src="/assets/ellipse-8-VMA.png"/>
              </div>
              <p class="item--5zp">허재욱</p>
              <div class="it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-nuE">
                이번 프로젝트 때 해본 거의 모든 것들이 처음이었고 미숙했지만 부족했던 부분은 팀원들이 채워줘서 프로젝트를 무사히 끝낼 수 있었습니다. 우리 팀 최고.
              </div>
              <p class="db--11J">프론트</p>
            </div>
            <div class="rectangle-6-XEY">
            </div>
          </div>
          <div class="group-6-FRS">
            <div class="auto-group-tlec-oC4">
              <div class="auto-group-ozak-8k8">
                <img class="ellipse-8-Rz8" src="/assets/ellipse-8-14c.png"/>
              </div>
              <p class="item--BCc">김국현</p>
              <p class="it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-Vyz">
                NodeJS와 express 프레임워크는 처음 사용해봤는데 생각보다 직관적이고 간결하게 사용할 수 있었던 것 같습니다.
                아직 미숙해서 많은 기능을 구현해보진 못했지만 좋은 경험이였고 뜻깊은 시간이였습니다</p>
              <p class="db--N2C">백엔드</p>
            </div>
            <div class="rectangle-6-HQ4">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer 반복 -->
    <%- include('includes/userfooter') %>
    <!-- footer 반복 -->
    
  </div>
</div>
</body>