<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>유저 - 회원 건강 정보</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans%3A200%2C400%2C700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A100%2C300%2C700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A100%2C200%2C300%2C400%2C700" />
  <link rel="stylesheet" href="/styles/userhcheck.css" />
</head>

<body>
  <div class="userhcheck-3Yc">
    <div class="footer-BPv">

      <!-- header 반복 -->
      <%- include('includes/userheader', {session:session})%>
        <!-- header 반복 -->

        <div class="auto-group-gn9w-uRi">

          <div class="div-xsA">
            <div class="div-7EG">회원 건강 체크</div>
            <div class="div-NR6">건강 체크 소개</div>
            <div class="item--4Hv">
              회원님께서 측정하신 건강 정보를 바탕으로 관련 통계와 수치 자료를 제공해 드립니다.
            </div>
            <div class="div-MAY">
              <div class="table-56Y">
                <div class="tr-nme">
                  <div class="th-xAL"> 평균 그래프</div>
                  <div class="th-E7r"> 평균 통계</div>
                </div>
                <div class="tbody-wAg">
                  <div class="tr-TPv">
                    <div class="td-Dtt">
                      <div class="histogram-1-mQc">
                        <div class="auto-group-ttb6-hp4">
                          <!-- 그래프 내용 부분 -->
                          <div class="auto-group-qzzp-EZ6">
                            <div class="colors-bg-card-m3E">
                              <div class="auto-group-wgba-wdr">심박수 수치 추이</div>
                              <div class="body-2-Esr"> HeartRate</div>
                            </div>
                            <div class="body-1-krC">23.03.13 ~ 23.04.13</div>
                            <div class="downtrend--ctQ">
                              <div class="items-histo-analytics-XVa">
                                <div class="bg-primary-f5z">
                                </div>
                                <div class="bg-primary-zPA">
                                </div>
                              </div>
                              <div class="auto-group-oz1v-KwE">
                                <div class="items-histo-analytics-Qxg">
                                  <div class="bg-primary-tsr">
                                  </div>
                                  <div class="bg-primary-ec8">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-QbJ">
                                  <div class="bg-primary-Ljr">
                                  </div>
                                  <div class="bg-primary-GtQ">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-puv">
                                  <div class="bg-primary-Ait">
                                  </div>
                                  <div class="bg-primary-WGx">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-3Xn">
                                  <div class="bg-primary-b3W">
                                  </div>
                                  <div class="bg-primary-kSC">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-WwA">
                                  <div class="bg-primary-f3N">
                                  </div>
                                  <div class="bg-primary-NTa">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-iXS">
                                  <div class="bg-primary-TV2">
                                  </div>
                                  <div class="bg-primary-RAx">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-nXJ">
                                  <div class="bg-primary-jBe">
                                  </div>
                                  <div class="bg-primary-fb6">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-S64">
                                  <div class="bg-primary-LhE">
                                  </div>
                                  <div class="bg-primary-shA">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-cue">
                                  <div class="bg-primary-MsE">
                                  </div>
                                  <div class="bg-primary-ihn">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-5oE">
                                  <div class="bg-primary-1B6">
                                  </div>
                                  <div class="bg-primary-wqS">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-i5W">
                                  <div class="bg-primary-rBi">
                                  </div>
                                  <div class="bg-primary-YKS">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-WGG">
                                  <div class="bg-primary-3mz">
                                  </div>
                                  <div class="bg-primary-zBS">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-XhA">
                                  <div class="bg-primary-Gek">
                                  </div>
                                  <div class="bg-primary-dVJ">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-o8t">
                                  <div class="bg-primary-8wr">
                                  </div>
                                  <div class="bg-primary-hVA">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-eQQ">
                                  <div class="bg-primary-MZi">
                                  </div>
                                  <div class="bg-primary-tZe">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-3Be">
                                  <div class="bg-primary-8yn">
                                  </div>
                                  <div class="bg-primary-Unk">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-3ax">
                                  <div class="bg-primary-Bx4">
                                  </div>
                                  <div class="bg-primary-XW8">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-VSx">
                                  <div class="bg-primary-EQY">
                                  </div>
                                  <div class="bg-primary-xrL">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-vYG">
                                  <div class="bg-primary-Eor">
                                  </div>
                                  <div class="bg-primary-xzk">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-uf6">
                                  <div class="bg-primary-FDA">
                                  </div>
                                  <div class="bg-primary-bnp">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-Ab2">
                                  <div class="bg-primary-W96">
                                  </div>
                                  <div class="bg-primary-FsN">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-Cnc">
                                  <div class="bg-primary-XK6">
                                  </div>
                                  <div class="bg-primary-V12">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-2me">
                                  <div class="bg-primary-mz8">
                                  </div>
                                  <div class="bg-primary-XyJ">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-uKe">
                                  <div class="bg-primary-pBi">
                                  </div>
                                  <div class="bg-primary-9zg">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-int">
                                  <div class="bg-primary-Syn">
                                  </div>
                                  <div class="bg-primary-opL">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-yTv">
                                  <div class="bg-primary-igQ">
                                  </div>
                                  <div class="bg-primary-gNL">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-Uoz">
                                  <div class="bg-primary-dB6">
                                  </div>
                                  <div class="bg-primary-z1e">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-kWc">
                                  <div class="bg-primary-tsi">
                                  </div>
                                  <div class="bg-primary-r3r">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-1SY">
                                  <div class="bg-primary-8XA">
                                  </div>
                                  <div class="bg-primary-6D6">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-Frg">
                                  <div class="bg-primary-QDn">
                                  </div>
                                  <div class="bg-primary-9SG">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-hya">
                                  <div class="bg-primary-SwA">
                                  </div>
                                  <div class="bg-primary-oWp">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-xuW">
                                  <div class="bg-primary-JTa">
                                  </div>
                                  <div class="bg-primary-4Sk">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-QmW">
                                  <div class="bg-primary-MRr">
                                  </div>
                                  <div class="bg-primary-uyA">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-UFa">
                                  <div class="bg-primary-p4Y">
                                  </div>
                                  <div class="bg-primary-yCL">
                                  </div>
                                </div>
                                <div class="items-histo-analytics-XzY">
                                  <div class="bg-primary-t4Q">
                                  </div>
                                  <div class="bg-primary-3T6">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- 그래프 내용 부분 끝 -->

                          <div class="item--QHe">20대 남성 평균 심박수 : 60~80회<br>
                          <%if (session.memberId !==null) {%>
                          <%=session.memberId%>님의 심박수 : 92회
                          <%}%>
                        </div>
                          </div>
                          <div class="item--oag">20대 남성 spo2 정상 수치 : 95%<br>
                            <%if (session.memberId !==null) {%>
                            <%=session.memberId%>님의 spo2 수치 : 94%
                            <%}%>
                          </div>
                          </div>
                          <div class="td-2br">
                            <div class="colors-bg-card-vhE">
                              <div class="auto-group-x7sq-rat">
                                <div class="body-1-YTi">spo2 Chart</div>
                                <div class="auto-group-resl-GuW">SPO2</div>
                              </div>
                              <div class="body-2-wEx">산소포화도 통계</div>
                              <div class="pie-blue-ev4">
                                <div class="colors-primary-yxL">0</div>
                                <img class="items-pie-piece-purple-ENU" src="/assets/items-pie-piece-purple.png" />
                                <img class="item-250--y5A" src="/assets/-7xU.png" />
                              </div>
                              <div class="items-color-info-4-pts-DVJ">
                                <div class="auto-group-ttri-m12">
                                  <div class="auto-group-soys-trL">
                                    <div class="bg-primary-e4p">
                                    </div>
                                    <div class="caption-ysn">정상범위</div>
                                  </div>
                                  <div class="auto-group-s7z8-fVi">
                                    <div class="bg-primary-dSY">
                                    </div>
                                    <div class="caption-Nuv">저산소증 주의</div>
                                  </div>
                                  <div class="auto-group-fqfe-u9A">
                                    <div class="colors-dark-TwN">
                                      <div class="bg-dark-DvY">
                                      </div>
                                    </div>
                                    <div class="caption-B6g">저산소증</div>
                                  </div>
                                </div>
                                <div class="auto-group-jasc-6De">
                                  <div class="items-heatmap-0-25-TZz">
                                    <div class="bg-primary-odr">
                                    </div>
                                    <div class="overline-9hi">0</div>
                                  </div>
                                  <div class="caption-Ez4">심각한 저산소증</div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <%if(session.memberId !== null) {%>%>
                  <div class="checkdiv">
                    <form action="/chart" method="get">
                    <button type="submit" class="checkbtn">건강 정보 보기</button>
                    </form>
                  </div>
                  <%}%>
                  <div class="div-rUx">
                    <div class="div-zr4">건강 진단</div>
                    <div class="item--H4U">
                      건강 챗봇을 이용해 간편하게 진단해보세요.
                    </div>
                  </div>
                  <div class="auto-group-fyrw-FQc">
                    <div class="chatbot-hXW">
                      <img class="chb-1-yV2" src="/assets/chb-1.png" />
                    </div>
                  </div>
                  <div class="line-chart-FhS">
                    <img class="x-axis-grid-V5z" src="REPLACE_IMAGE:435:1569" />
                    <img class="x-axis-grid-QCx" src="REPLACE_IMAGE:435:1570" />
                    <img class="x-axis-grid-Kqi" src="REPLACE_IMAGE:435:1571" />
                    <img class="x-axis-grid-scL" src="REPLACE_IMAGE:435:1572" />
                    <img class="x-axis-grid-pnU" src="REPLACE_IMAGE:435:1573" />
                    <img class="y-axis-grid-Noz" src="REPLACE_IMAGE:435:1574" />
                    <img class="y-axis-grid-hLU" src="REPLACE_IMAGE:435:1575" />
                    <img class="y-axis-grid-rDN" src="REPLACE_IMAGE:435:1576" />
                    <img class="y-axis-grid-16G" src="REPLACE_IMAGE:435:1577" />
                    <img class="y-axis-grid-uSY" src="REPLACE_IMAGE:435:1578" />
                    <img class="y-axis-grid-Eji" src="REPLACE_IMAGE:435:1579" />
                    <img class="y-axis-grid-mje" src="REPLACE_IMAGE:435:1580" />
                    <img class="y-axis-grid-jAg" src="REPLACE_IMAGE:435:1581" />
                    <img class="y-axis-grid-sGt" src="REPLACE_IMAGE:435:1582" />
                    <img class="y-axis-grid-d1A" src="REPLACE_IMAGE:435:1583" />
                    <img class="x-axis-yap" src="REPLACE_IMAGE:435:1584" />
                    <img class="y-axis-7BE" src="REPLACE_IMAGE:435:1585" />
                    <p class="text-G48">Text</p>
                    <p class="text-aKi">Text</p>
                    <p class="text-51a">Text</p>
                    <p class="text-ZhS">Text</p>
                    <p class="text-5vg">Text</p>
                    <p class="item-50-13e">50</p>
                    <p class="item-75-uui">75</p>
                    <p class="item-100-pWt">100</p>
                    <p class="item-125-xNC">125</p>
                    <p class="item-150-4w2">150</p>
                    <p class="item-175-AjA">175</p>
                    <p class="item-200-5r8">200</p>
                    <p class="item-225-poi">225</p>
                    <p class="item-250-ZWQ">250</p>
                    <p class="item-275-uKN">275</p>
                    <img class="line-FPE" src="/assets/line-odz.png" />
                    <img class="line-m6g" src="/assets/line-sQU.png" />
                    <img class="line-K8C" src="/assets/line.png" />
                    <img class="line-s9i" src="/assets/line-FKv.png" />
                    <img class="line-1mi" src="/assets/line-SXJ.png" />
                    <img class="marker-85e" src="/assets/marker-dAY.png" />
                    <img class="marker-Ghe" src="/assets/marker-7RS.png" />
                    <img class="marker-pjA" src="/assets/marker-LW4.png" />
                    <img class="marker-jbE" src="/assets/marker-zqv.png" />
                    <img class="marker-5uz" src="./assets/marker-tg8.png" />
                    <img class="marker-DmJ" src="/assets/marker-fEg.png" />
                    <img class="marker-yVa" src="/assets/marker-GSk.png" />
                    <img class="marker-HmA" src="/assets/marker-5oe.png" />
                    <img class="marker-Se4" src="/assets/marker-Ru2.png" />
                    <img class="marker-CNL" src="/assets/marker-sya.png" />
                    <img class="marker-WP2" src="/assets/marker-S1E.png" />
                    <img class="marker-4QY" src="/assets/marker-TEQ.png" />
                    <img class="marker-p8p" src="/assets/marker-d8t.png" />
                    <img class="marker-NAL" src="/assets/marker-2eL.png" />
                    <img class="marker-ssn" src="/assets/marker-n8G.png" />
                    <img class="marker-DRr" src="/assets/marker-AkY.png" />
                    <img class="marker-M2G" src="/assets/marker.png" />
                    <img class="marker-gaL" src="/assets/marker-9Xn.png" />
                    <img class="marker-qTE" src="/assets/marker-HKv.png" />
                    <img class="marker-YMe" src="/assets/marker-7Uc.png" />
                    <img class="marker-Vng" src="/assets/marker-94c.png" />
                    <img class="marker-Dya" src="/assets/marker-664.png" />
                    <img class="marker-xgG" src="/assets/marker-TEQ.png" />
                    <img class="marker-urQ" src="/assets/marker-5ix.png" />
                    <img class="marker-T7E" src="/assets/marker-L5N.png" />
                  </div>
                  <div class="item--QHN">회원 건강 통계 예시</div>
                  <div class="div-SE4">건강 통계</div>
                  <div class="item--ihN">
                    회원님께서 측정하신 건강 정보를 바탕으로한 실제 통계 그래프 입니다.
                  </div>
                </div>
              </div>

              <!-- footer 반복 -->
              <%- include('includes/userfooter') %>
                <!-- footer 반복 -->

            </div>
          </div>
        </div>
</body>