
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.conuserinfo-Etp {
  width: 100%;
  height: 228.4rem;
  background-color: #f6f7f8;
}
.conuserinfo-Etp .auto-group-tfqs-zNC {
  width: 100%;
  height: 118.2641rem;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG {
  box-sizing: border-box;
  padding-top: 103.3rem;
  width: 192rem;
  height: 118.2641rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi {
  box-sizing: border-box;
  padding-bottom: 1.4rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-zWc {
  margin-bottom: 1.15rem;
  box-sizing: border-box;
  padding: 1.8rem 32rem 1.2rem 32rem;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #555555;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #f1f1f1;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-P2x {
  margin: 0rem 111.347rem 0rem 32rem;
  width: calc(100% - 143.3469rem);
  height: 7.25rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-P2x .logo44-1-6CG {
  margin: 0.65rem 2.539rem 0rem 0rem;
  width: 9.7rem;
  height: 3.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-P2x .address-QCx {
  width: 36.4141rem;
  height: 100%;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-P2x .address-QCx .auto-group-ltgc-kGp {
  width: 100%;
  display: flex;
  align-items: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-P2x .address-QCx .auto-group-ltgc-kGp .item-31-15-34-6rU {
  margin: 0.05rem 7.97rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #555555;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-P2x .address-QCx .auto-group-ltgc-kGp .span-xtg {
  margin-bottom: 0.05rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-P2x .address-QCx .auto-group-ltgc-kGp .span-xtg .item--Jhe {
  margin-right: 2.2438rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #555555;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-P2x .address-QCx .auto-group-ltgc-kGp .span-xtg .item-062-1234-5678-cTS {
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #333333;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-P2x .address-QCx .email-smartboothsolsbsolcom-Woi {
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #333333;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .footer-KvG .footer-GKi .div-P2x .address-QCx .copyright-sb-sol-all-right-reserved-SBa {
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #555555;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .div-we8 {
  box-sizing: border-box;
  padding: 0.05rem 0;
  width: 99rem;
  height: 7.5rem;
  position: absolute;
  left: 31rem;
  top: 14.5rem;
  display: flex;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.3rem;
  color: #151515;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r {
  width: 1172.99px;
  height: 70.2rem;
  position: absolute;
  left: 40rem;
  top: 24.1rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr {
  width: 100%;
  height: 3.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .cell-Rxc {
  box-sizing: border-box;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .cell-Rxc .content-yUL {
  width: 30px;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  margin: auto;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .cell-4Vn {
  box-sizing: border-box;
  padding: 0.95rem 8.7rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .cell-4Vn .content-QpY {
  width: 100%;
  height: 100%;
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .cell-7DA {
  box-sizing: border-box;
  padding: 0.95rem 4.4rem;
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .cell-7DA .content-TXv {
  width: 100%;
  height: 100%;
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .cell-9vY {
  box-sizing: border-box;
  padding: 0.95rem 2.95rem;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .cell-9vY .content-J2k {
  width: 100%;
  height: 100%;
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .content-xsz {
  width: 28rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .content-SHN {
  width: 14rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .content-8AC {
  width: 15rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-WKr .content-1jn {
  width: 19.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-qip {
  box-sizing: border-box;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
  /* text-align: center;
  justify-content: center; */
  box-sizing: border-box;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-qip .content-C3a {
  width: 30px;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap; 
  margin: auto;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-JMW {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-JMW .content-3K6 {
  margin-right: 0rem;
  width: 15rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;

}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-KnQ {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-g7A {
  box-sizing: border-box;
  padding: 0.9rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-g7A .content-qEx {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-PGU {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-LSc {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-H6x {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-dgc {
  box-sizing: border-box;
  padding: 1rem 7rem;
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-uaG .cell-dgc .btn-z1N {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3625;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  background-color: rgba(2, 2, 2, 0.1899999976);
  border-radius: 0.5rem;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-xsJ {
  box-sizing: border-box;
  padding: 1.85rem 6.05rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-xsJ .content-i5n {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-QzC {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-QzC .content-MeY {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-3GU {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-njr {
  box-sizing: border-box;
  padding: 0.9rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-njr .content-YU8 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-6kY {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-S3i {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-yZS {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-8SL {
  box-sizing: border-box;
  padding: 0.65rem 6.05rem;
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-2Cx .cell-8SL .btn-5cU {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  background-color: rgba(2, 2, 2, 0.1899999976);
  border-radius: 0.5rem;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-5Vz {
  box-sizing: border-box;
  padding: 1.85rem 6.05rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-5Vz .content-dXW {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-jKe {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-jKe .content-fyz {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-xy6 {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-Wji {
  box-sizing: border-box;
  padding: 0.9rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-Wji .content-4mE {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-pVW {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-B5A {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-j6g {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-jh2 .cell-Upx {
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 {
  width: 100%;
  height: 5.7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-yFv {
  box-sizing: border-box;
  padding: 1.9rem 6.05rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-yFv .content-KKn {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-Dg4 {
  box-sizing: border-box;
  padding: 1.95rem 1.2rem 1.85rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-Dg4 .content-MXN {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-eFa {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-zKS {
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-zKS .content-kJc {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-6NU {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-r6k {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-Q8G {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-S16 .cell-x9n {
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-2fS {
  box-sizing: border-box;
  padding: 1.85rem 6.05rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-2fS .content-PF6 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-V3E {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-V3E .content-Djv {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-7aQ {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-sJg {
  box-sizing: border-box;
  padding: 0.9rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-sJg .content-pUp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-NWL {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-W6k {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-3cU {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tZE .cell-oLk {
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-VUU {
  box-sizing: border-box;
  padding: 1.85rem 6.05rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-VUU .content-SPi {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-wbN {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-wbN .content-V76 {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-Zse {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-Kbv {
  box-sizing: border-box;
  padding: 0.9rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-Kbv .content-4pQ {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-DSQ {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-AcY {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-83a {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-MNG .cell-t2k {
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-Y7J {
  box-sizing: border-box;
  padding: 1.85rem 6.1rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-Y7J .content-VHS {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-oJ8 {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-oJ8 .content-wQL {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-dY4 {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-ybv {
  box-sizing: border-box;
  padding: 0.9rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-ybv .content-8Up {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-gFS {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-E24 {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-BCC {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-oQc .cell-jDi {
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-R6Y {
  box-sizing: border-box;
  padding: 1.85rem 6.05rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-R6Y .content-App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-HPe {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-HPe .content-peU {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-iE4 {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-ff6 {
  box-sizing: border-box;
  padding: 0.9rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-ff6 .content-1yr {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-NZW {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-vqv {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-HRa {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tMW .cell-SJU {
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE {
  width: 100%;
  height: 4.7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-j2g {
  box-sizing: border-box;
  padding: 1.4rem 6.05rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-j2g .content-HK6 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-CS4 {
  box-sizing: border-box;
  padding: 1.45rem 1.2rem 1.35rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-CS4 .content-YF2 {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-2vt {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-z72 {
  box-sizing: border-box;
  padding: 0.45rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-z72 .content-8yv {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-VJg {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-3b6 {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-QAk {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ndE .cell-kVW {
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-dZJ {
  box-sizing: border-box;
  padding: 1.85rem 5.75rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-dZJ .content-nh6 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-VLc {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-VLc .content-D1i {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-f8c {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-1CU {
  box-sizing: border-box;
  padding: 0.9rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-1CU .content-9Za {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-6ji {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-FMi {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-QEc {
  width: 15rem;
  height: 4.7rem;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-63a .cell-Le4 {
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-qKv {
  box-sizing: border-box;
  padding: 1.85rem 5.85rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-qKv .content-aYQ {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-Hxc {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-Hxc .content-qUL {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-XMA {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-UXJ {
  box-sizing: border-box;
  padding: 0.9rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-UXJ .content-RhS {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-aaL {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-ji8 {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-tqv {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-tfa .cell-e4Q {
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-KgL {
  box-sizing: border-box;
  padding: 1.85rem 5.75rem;
  width: 13rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-KgL .content-59i {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-acG {
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-acG .content-XGc {
  margin-right: 10.2rem;
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-1Sg {
  width: 10.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-kQG {
  box-sizing: border-box;
  padding: 0.9rem 0;
  width: 8.5rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-kQG .content-Jgg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-fGL {
  width: 28rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-Qji {
  width: 14rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-NAk {
  width: 15rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .table-D5r .row-ysN .cell-ikQ {
  width: 19.3rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .item--dcU {
  box-sizing: border-box;
  padding: 0rem 13.467rem 0rem 2.6rem;
  width: 192rem;
  height: 8.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #6ca5d9;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .item--dcU .logo44-1-XSx {
  margin: 0rem 17.55rem 0.3rem 0rem;
  width: 17.0826rem;
  height: 6.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .item--dcU .ul-EsA {
  margin-right: 30.8rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .item--dcU .ul-EsA .item--aw2 {
  margin-right: 16.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .item--dcU .ul-EsA .item--HaY {
  margin-right: 15.65rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .item--dcU .ul-EsA .item--BA8 {
  margin-right: 17.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .item--dcU .ul-EsA .item--Hix {
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.conuserinfo-Etp .auto-group-tfqs-zNC .item--dcU .item--Cqv {
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  line-height: 3.4782608696;
  letter-spacing: -0.2rem;
  color: #d8ffe9;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border: none;
  cursor: pointer;
}

.cont_table {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2999999183;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.cell-KnQ, .cell-g7A, .cell-LSc, .cell-H6x{
  box-sizing: border-box;
  padding: 1.9rem 1.2rem 1.8rem 1.2rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  flex-shrink: 0;
  align-content: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
}


