
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.userintro-iC8 {
  width: 100%;
  height: 265rem;
  background-color: #f6f7f8;
}
.userintro-iC8 .div-fdA {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.userintro-iC8 .div-fdA .header-Pp4 {
  margin-bottom: 5.8rem;
  box-sizing: border-box;
  padding-left: 3rem;
  width: 100%;
  height: 8.2rem;
  display: flex;
  align-items: center;
  background-color: #86c48d;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .header-Pp4 .logo44-1-voz {
  width: 18rem;
  height: 6rem;
  object-fit: fill;
  vertical-align: auto;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .header-Pp4 .ul-EZn {
  box-sizing: border-box;
  padding: 0.2rem 18.483rem 0rem 6.05rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .header-Pp4 .ul-EZn .item--NAC {
  margin-right: 14.2174rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.userintro-iC8 .div-fdA .header-Pp4 .ul-EZn .item--DRi {
  margin-right: 13.2826rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.userintro-iC8 .div-fdA .header-Pp4 .ul-EZn .item--Wvc {
  margin-right: 10.0674rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.userintro-iC8 .div-fdA .header-Pp4 .ul-EZn .item--2tx {
  margin-right: 13.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.userintro-iC8 .div-fdA .header-Pp4 .ul-EZn .item--Lue {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.userintro-iC8 .div-fdA .header-Pp4 .auto-group-sa72-GYQ {
  box-sizing: border-box;
  padding: 1.5rem 2.6rem 1.7rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .header-Pp4 .auto-group-sa72-GYQ .btn-NbS {
  margin-right: 4.1rem;
  width: 6.2rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-decoration:none;
}
.userintro-iC8 .div-fdA .header-Pp4 .auto-group-sa72-GYQ .btn-t3z {
  width: 13.9174rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-decoration:none;
}
.userintro-iC8 .div-fdA .frame-16-7Be {
  margin: 0rem 29.2rem 11.9rem 44.2rem;
  width: calc(100% - 73.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp {
  margin-bottom: 4.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp .auto-group-wgoi-o4U {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp .auto-group-wgoi-o4U .div-jip {
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  padding: 0.05rem 0;
  width: 99rem;
  height: 7.5rem;
  display: flex;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.3rem;
  color: #151515;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp .auto-group-wgoi-o4U .div-vqE {
  box-sizing: border-box;
  padding: 0.75rem 0;
  width: 99rem;
  height: 7.5rem;
  display: flex;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.3rem;
  color: #151515;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp .frame-36-n6k {
  margin-bottom: 8.35rem;
  width: 100%;
  height: 51.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp .frame-36-n6k .frame-37-hzQ {
  margin-right: 14.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp .frame-36-n6k .frame-37-hzQ .booth11-1-r6c {
  width: 51.9rem;
  height: 51.5rem;
  object-fit: cover;
  vertical-align: top;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp .frame-36-n6k .frame-38-PsE {
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp .frame-36-n6k .frame-38-PsE .booth22-1-Mp4 {
  width: 51.9rem;
  height: 51.5rem;
  object-fit: cover;
  vertical-align: top;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp .gp2y0e03-mq-7-mq-135-max30102-e-mail--tJC {
  margin-bottom: 12.65rem;
  width: 100rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-SUp .div-A9E {
  box-sizing: border-box;
  padding: 0.75rem 0;
  width: 99rem;
  height: 7.5rem;
  display: flex;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.3rem;
  color: #151515;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;

  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi {
  margin: 0rem 7.3rem 0rem 2.8rem;
  box-sizing: border-box;
  padding: 8rem 12.8rem 4rem 13.3rem;
  width: calc(100% - 10.1rem);
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/div-bg.png');
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA {
  margin: 0rem 5rem 11.3rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-TGk {
  margin: 0rem 0.2rem 12.2rem 0rem;
  box-sizing: border-box;
  padding-bottom: 0.0488rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.7rem #2ffaf7;
  background-color: #ffffff;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-TGk .auto-group-adag-M7E {
  box-sizing: border-box;
  padding: 3.11rem 7.3rem 0.586rem 7.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-TGk .auto-group-adag-M7E .auto-group-6hwv-3Vr {
  margin: 0rem 2.303rem 1.85rem 1.903rem;
  box-sizing: border-box;
  padding: 0.873rem 0.977rem 0.689rem 1.125rem;
  width: calc(100% - 4.2053rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7-HMr.png');
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-TGk .auto-group-adag-M7E .auto-group-6hwv-3Vr .ellipse-8-9Hz {
  width: 3.0928rem;
  height: 3.2957rem;
  object-fit: contain;
  vertical-align: top;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-TGk .auto-group-adag-M7E .item--g32 {
  margin-bottom: 0.2648rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #252020;
  font-family: Strong, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-TGk .auto-group-adag-M7E .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-DSG {
  margin: 0rem 0rem 0.57rem 0rem;
  max-width: 7.9rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #6e6464;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-TGk .auto-group-adag-M7E .db--RYL {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #252020;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
/* 팀장 소개 테두리 */
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-TGk .rectangle-6-9DS {
  width: 100%;
  height: 8.8129rem;
  box-sizing: border-box;
  background-color: #d2ffb6;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-FnG {
  margin-left: 0.2rem;
  box-sizing: border-box;
  padding-bottom: 0.0488rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #53e850;
  background-color: #ffffff;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-FnG .auto-group-pyig-Nbz {
  box-sizing: border-box;
  padding: 3.11rem 3.95rem 0.586rem 3.95rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-FnG .auto-group-pyig-Nbz .auto-group-rsts-73n {
  margin: 0rem 5.653rem 1.85rem 5.253rem;
  box-sizing: border-box;
  padding: 0.873rem 0.977rem 0.689rem 1.125rem;
  width: calc(100% - 10.9053rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7.png');
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-FnG .auto-group-pyig-Nbz .auto-group-rsts-73n .ellipse-8-DsW {
  width: 3.0928rem;
  height: 3.2957rem;
  object-fit: contain;
  vertical-align: top;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-FnG .auto-group-pyig-Nbz .item--kMe {
  margin: 0rem 0rem 0.265rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #252020;
  font-family: Strong, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-FnG .auto-group-pyig-Nbz .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-fUc {
  margin-bottom: 0.5703rem;
  max-width: 16.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #6e6464;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-FnG .auto-group-pyig-Nbz .db--VTe {
  margin-right: 0.0002rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #252020;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-uqde-iKA .group-6-FnG .rectangle-6-A3z {
  width: 100%;
  height: 8.8129rem;
  background-color: #d2ffb6;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c {
  margin: 11.7rem 4.8rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .auto-group-eank-kXz {
  margin: 0rem 0rem 11.8rem 0.2rem;
  width: 24rem;
  height: 34.8rem;
  position: relative;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .auto-group-eank-kXz .item-1-GFS {
  width: 0.8rem;
  height: 1.7rem;
  position: absolute;
  left: 6.4094rem;
  top: 16.45rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: -0.075rem;
  color: #999999;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .auto-group-eank-kXz .group-6-NJU {
  margin: 0rem 0.2rem 12.2rem 0rem;
  box-sizing: border-box;
  padding-bottom: 0.0488rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #76e274;
  background-color: #ffffff;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .auto-group-eank-kXz .group-6-NJU .auto-group-3drs-u3W {
  box-sizing: border-box;
  padding: 3.11rem 3.95rem 0.586rem 3.95rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .auto-group-eank-kXz .group-6-NJU .auto-group-3drs-u3W .auto-group-yhma-cCp {
  margin: 0rem 5.653rem 1.85rem 5.253rem;
  box-sizing: border-box;
  padding: 0.873rem 0.977rem 0.689rem 1.125rem;
  width: calc(100% - 10.9053rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7-gWc.png');
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .auto-group-eank-kXz .group-6-NJU .auto-group-3drs-u3W .auto-group-yhma-cCp .ellipse-8-7QU {
  width: 3.0928rem;
  height: 3.2957rem;
  object-fit: contain;
  vertical-align: top;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .auto-group-eank-kXz .group-6-NJU .auto-group-3drs-u3W .item--2GY {
  margin: 0rem 0rem 0.265rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #252020;
  font-family: Strong, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .auto-group-eank-kXz .group-6-NJU .auto-group-3drs-u3W .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-YEt {
  margin-bottom: 0.5703rem;
  max-width: 16.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #6e6464;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .auto-group-eank-kXz .group-6-NJU .auto-group-3drs-u3W .db--Zfn {
  margin-right: 0.0002rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #252020;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .auto-group-eank-kXz .group-6-NJU .rectangle-6-SDn {
  width: 100%;
  height: 8.8129rem;
  background-color: #d2ffb6;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .group-6-P92 {
  margin: 0rem 0.2rem 12.2rem 0rem;
  box-sizing: border-box;
  padding-bottom: 0.0488rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #76e274;
  background-color: #ffffff;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .group-6-P92 .auto-group-6rhw-vPr {
  box-sizing: border-box;
  padding: 3.11rem 3.95rem 0.586rem 3.95rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .group-6-P92 .auto-group-6rhw-vPr .auto-group-zksg-2St {
  margin: 0rem 5.653rem 1.85rem 5.253rem;
  box-sizing: border-box;
  padding: 0.873rem 0.977rem 0.689rem 1.125rem;
  width: calc(100% - 10.9053rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7-2gp.png');
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .group-6-P92 .auto-group-6rhw-vPr .auto-group-zksg-2St .ellipse-8-w44 {
  width: 3.0928rem;
  height: 3.2957rem;
  object-fit: contain;
  vertical-align: top;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .group-6-P92 .auto-group-6rhw-vPr .item--Gs2 {
  margin: 0rem 0rem 0.265rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #252020;
  font-family: Strong, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .group-6-P92 .auto-group-6rhw-vPr .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-ymS {
  margin-bottom: 0.5703rem;
  max-width: 16.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #6e6464;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .group-6-P92 .auto-group-6rhw-vPr .db--RNY {
  margin-right: 0.0002rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #252020;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-ve8q-H8c .group-6-P92 .rectangle-6-M1J {
  width: 100%;
  height: 8.8129rem;
  background-color: #d2ffb6;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 {
  margin-bottom: 11.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-oP6 {
  margin: 0rem 0.2rem 12.2rem 0rem;
  box-sizing: border-box;
  padding-bottom: 0.0488rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #76e274;
  background-color: #ffffff;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-oP6 .auto-group-tabi-jXe {
  box-sizing: border-box;
  padding: 3.11rem 3.95rem 0.586rem 3.95rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-oP6 .auto-group-tabi-jXe .auto-group-tre8-sNx {
  margin: 0rem 5.653rem 1.85rem 5.253rem;
  box-sizing: border-box;
  padding: 0.873rem 0.977rem 0.689rem 1.125rem;
  width: calc(100% - 10.9053rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7-drx.png');
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-oP6 .auto-group-tabi-jXe .auto-group-tre8-sNx .ellipse-8-o1i {
  width: 3.0928rem;
  height: 3.2957rem;
  object-fit: contain;
  vertical-align: top;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-oP6 .auto-group-tabi-jXe .item--5zp {
  margin: 0rem 0rem 0.265rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #252020;
  font-family: Strong, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-oP6 .auto-group-tabi-jXe .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-nuE {
  margin-bottom: 0.5703rem;
  max-width: 16.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #6e6464;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-oP6 .auto-group-tabi-jXe .db--11J {
  margin-right: 0.0002rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #252020;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-oP6 .rectangle-6-XEY {
  width: 100%;
  height: 8.8129rem;
  background-color: #d2ffb6;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-FRS {
  margin: 0rem 0.2rem 12.2rem 0rem;
  box-sizing: border-box;
  padding-bottom: 0.0488rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #76e274;
  background-color: #ffffff;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-FRS .auto-group-tlec-oC4 {
  box-sizing: border-box;
  padding: 3.11rem 3.95rem 0.586rem 3.95rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-FRS .auto-group-tlec-oC4 .auto-group-ozak-8k8 {
  margin: 0rem 5.653rem 1.85rem 5.253rem;
  box-sizing: border-box;
  padding: 0.873rem 0.977rem 0.689rem 1.125rem;
  width: calc(100% - 10.9053rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7-P84.png');
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-FRS .auto-group-tlec-oC4 .auto-group-ozak-8k8 .ellipse-8-Rz8 {
  width: 3.0928rem;
  height: 3.2957rem;
  object-fit: contain;
  vertical-align: top;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-FRS .auto-group-tlec-oC4 .item--BCc {
  margin: 0rem 0rem 0.265rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #252020;
  font-family: Strong, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-FRS .auto-group-tlec-oC4 .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-Vyz {
  margin-bottom: 0.5703rem;
  max-width: 16.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #6e6464;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-FRS .auto-group-tlec-oC4 .db--N2C {
  margin-right: 0.0002rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #252020;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .frame-16-7Be .div-dHi .auto-group-klmn-Tq2 .group-6-FRS .rectangle-6-HQ4 {
  width: 100%;
  height: 8.8129rem;
  background-color: #d2ffb6;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .footer-zpG {
  box-sizing: border-box;
  padding-bottom: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .footer-zpG .div-MPv {
  margin-bottom: 1.15rem;
  box-sizing: border-box;
  padding: 1.8rem 32rem 1.2rem 32rem;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #555555;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #f1f1f1;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .footer-zpG .div-hMJ {
  margin: 0rem 111.347rem 0rem 32rem;
  width: calc(100% - 143.3469rem);
  height: 7.25rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .footer-zpG .div-hMJ .logo44-1-QmW {
  margin: 0.65rem 2.539rem 0rem 0rem;
  width: 9.7rem;
  height: 3.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .footer-zpG .div-hMJ .address-Jrt {
  width: 36.4141rem;
  height: 100%;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .footer-zpG .div-hMJ .address-Jrt .auto-group-qyg8-fhS {
  width: 100%;
  display: flex;
  align-items: center;
}
.userintro-iC8 .div-fdA .footer-zpG .div-hMJ .address-Jrt .auto-group-qyg8-fhS .item-31-15-34-RwW {
  margin: 0.05rem 7.97rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #555555;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .footer-zpG .div-hMJ .address-Jrt .auto-group-qyg8-fhS .span-KX6 {
  margin-bottom: 0.05rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .footer-zpG .div-hMJ .address-Jrt .auto-group-qyg8-fhS .span-KX6 .item--Ffe {
  margin-right: 2.2438rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #555555;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .footer-zpG .div-hMJ .address-Jrt .auto-group-qyg8-fhS .span-KX6 .item-062-1234-5678-NkG {
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #333333;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.userintro-iC8 .div-fdA .footer-zpG .div-hMJ .address-Jrt .email-smartboothsolsbsolcom-hXe {
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #333333;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.userintro-iC8 .div-fdA .footer-zpG .div-hMJ .address-Jrt .copyright-sb-sol-all-right-reserved-qNx {
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4475;
  letter-spacing: -0.08rem;
  color: #555555;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}

.header-HSx {
  margin-bottom: 5.8rem;
  box-sizing: border-box;
  padding-left: 3rem;
  width: 100%;
  height: 8.2rem;
  display: flex;
  align-items: center;
  background-color: #86c48d;
  flex-shrink: 0;
}
.logo44-1-d12 {
  width: 18rem;
  height: 6rem;
  object-fit: fill;
  vertical-align: auto;
  flex-shrink: 0;
}
.ul-wnQ {
  box-sizing: border-box;
  padding: 0.2rem 18.483rem 0rem 6.05rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--Gpg {
  margin-right: 14.2174rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.item--dYk {
  margin-right: 13.2826rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.item--8Ec {
  margin-right: 10.0674rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.item--nKA {
  margin-right: 13.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.item--WW4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3333333333;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.auto-group-txqg-Rsv {
  box-sizing: border-box;
  padding: 1.5rem 2.6rem 1.7rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.btn-mRz {
  margin-right: 4.1rem;
  width: 6.2rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-decoration:none;
}
.btn-2cp {
  width: 13.9174rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-decoration:none;
}

.auto-group-txqg-Rsv button {
  width: 13.9174rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-decoration:none;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border: none;
  cursor: pointer;
}

.footer-R9A {
  box-sizing: border-box;
    padding-bottom: 1.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
  }
  .div-9qr {
  margin-bottom: 1.15rem;
    box-sizing: border-box;
    padding: 1.8rem 32rem 1.2rem 32rem;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.4475;
    letter-spacing: -0.08rem;
    color: #555555;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #f1f1f1;
    flex-shrink: 0;
  }
  .div-eGp {
  margin: 0rem 111.347rem 0rem 32rem;
    width: calc(100% - 143.3469rem);
    height: 7.25rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .logo44-1-Yd6 {
  margin: 0.65rem 2.539rem 0rem 0rem;
    width: 9.7rem;
    height: 3.7rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .address-svG {
  width: 36.4141rem;
    height: 100%;
    flex-shrink: 0;
  }
  .auto-group-m1ha-Bg4 {
  width: 100%;
    display: flex;
    align-items: center;
  }
  .item-31-15-34-wv8 {
  margin: 0.05rem 7.97rem 0rem 0rem;
    display: flex;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.4475;
    letter-spacing: -0.08rem;
    color: #555555;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .span-pDE {
  margin-bottom: 0.05rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .item--7y2 {
  margin-right: 2.2438rem;
    display: flex;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.4475;
    letter-spacing: -0.08rem;
    color: #555555;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .item-062-1234-5678-qe8 {
  display: flex;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.4475;
    letter-spacing: -0.08rem;
    color: #333333;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .email-smartboothsolsbsolcom-xik {
  display: flex;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.4475;
    letter-spacing: -0.08rem;
    color: #333333;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
  }
  .copyright-sb-sol-all-right-reserved-sqi {
  display: flex;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.4475;
    letter-spacing: -0.08rem;
    color: #555555;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
  }