.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .logout_btn {
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  line-height: 3.4782608696;
  letter-spacing: -0.2rem;
  color: #d8ffe9;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border: none;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
  cursor: pointer;
}

html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}
.usermain-1Ap {
  width: 100%;
  height: 108rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.usermain-1Ap .item--9Xv {
  width: 1920px;
  height: 108rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #2d2e33;
  background-size: 125% 100%;
  background-position: -24rem 0;
  background-image: url('../assets/bg-Ssz.png');
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU {
  box-sizing: border-box;
  padding: 1.1rem 2.6rem 3.5rem 4.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW {
  margin-bottom: 2.8rem;
  width: 100%;
  height: 8.2rem;
  flex-shrink: 100;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n {
  width: 182.8rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .auto-group-6fv8-HGk {
  margin-right: 55.3674rem;
  box-sizing: border-box;
  padding-top: 0.7rem;
  width: 20.9826rem;
  flex-shrink: 0;
  cursor: pointer;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .auto-group-6fv8-HGk .item-1-1Te {
  width: 16.7411rem;
  height: 6.5rem;
  object-fit: cover;
  vertical-align: top;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .ul- {
  margin: 0rem 9.35rem 0.2rem -15rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .ul-XB6 {
  margin: 0rem 9.35rem 0.2rem -15rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .ul-XB6 .item--dE8 {
  margin-right: 7.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3.4782608696;
  letter-spacing: -0.2rem;
  color: #d8ffe9;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .ul-XB6 .item--7uz {
  margin-right: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3.4782608696;
  letter-spacing: -0.2rem;
  color: #d8ffe9;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .ul-XB6 .item--21N {
  margin-right: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3.4782608696;
  letter-spacing: -0.2rem;
  color: #d8ffe9;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .ul-XB6 .item--jwN {
  margin-right: 5.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3.4782608696;
  letter-spacing: -0.2rem;
  color: #d8ffe9;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}


.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .ul-XB6 .item--F92 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3.4782608696;
  letter-spacing: -0.2rem;
  color: #d8ffe9;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .item--Wak {
  margin: 0rem 2.6rem 0.2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  line-height: 3.4782608696;
  letter-spacing: -0.2rem;
  color: #d8ffe9;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-mzs6-cRW .item--N9n .item--c7z {
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  line-height: 3.4782608696;
  letter-spacing: -0.2rem;
  color: #d8ffe9;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration:none;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-swqx-jTW {
  margin: 0rem 16rem 0rem 16.3rem;
  width: calc(100% - 32.3rem);
  height: 65.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-swqx-jTW .item--3UC {
  margin: 14.05rem 31.35rem 28.65rem 0rem;
  width: 56.95rem;
  height: calc(100% - 42.7rem);
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-swqx-jTW .item--3UC .item--kNc {
  margin-bottom: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 300;
  line-height: 1.0416666667;
  letter-spacing: -0.525rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-swqx-jTW .item--3UC .item--fEg {
  max-width: 40.7rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 1.6363636364;
  letter-spacing: -0.11rem;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-swqx-jTW .auto-group-kt5j-JHe {
  width: 64.3rem;
  height: 100%;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .auto-group-1wwg-5gU .auto-group-swqx-jTW .auto-group-kt5j-JHe .booth1-1-pFz {
  width: 63.7rem;
  height: 65.9rem;
  object-fit: cover;
  vertical-align: top;
}
.usermain-1Ap .item--9Xv .item--ZUU {
  width: 1920px;
  height: 26.6rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(248, 255, 233, 0.6999999881);
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-5Sp {
  box-sizing: border-box;
  padding: 5rem 4.207rem 4.6rem 5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f5f5f5;
  flex-shrink: 0;
  cursor:pointer;  
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-5Sp .item--27A {
  margin: 0rem 22.093rem 1.65rem 0rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.11rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-5Sp .item--TiG {
  margin: 0rem 6.493rem 2.2rem 0rem;
  max-width: 18.2rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: -0.08rem;
  color: #666666;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-5Sp .icon-health-WRe {
  margin-left: 22.5rem;
  width: 5.1928rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-cDn {
  box-sizing: border-box;
  padding: 5.1rem 4.207rem 4.6rem 5.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f5f5f5;
  flex-shrink: 0;
  cursor:pointer;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-cDn .item--iGp {
  margin: 0rem 18.26rem 1.75rem 0rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.11rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-cDn .item--c7J {
  margin: 0rem 6.66rem 2.1rem 0rem;
  max-width: 16rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: -0.08rem;
  color: #666666;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-cDn .icon-flag-frG {
  margin-left: 22.5rem;
  width: 3.1601rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-oha {
  box-sizing: border-box;
  padding: 6rem 4.207rem 4.6rem 6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f5f5f5;
  flex-shrink: 0;
  cursor:pointer;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-oha .item--8Ux {
  margin: 0rem 14.26rem 1.75rem 0rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.11rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-oha .item--3M2 {
  margin: 0rem 8.66rem 2.1rem 0rem;
  max-width: 14.7rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: -0.08rem;
  color: #666666;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-oha .icon-edit-2-Tfe {
  margin-left: 22.5rem;
  width: 3.8597rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-bG4 {
  box-sizing: border-box;
  padding: 6rem 4.207rem 4.6rem 6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f5f5f5;
  flex-shrink: 0;
  cursor:pointer;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-bG4 .item--9Ha {
  margin: 0rem 17.644rem 1.75rem 0rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.11rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-bG4 .item--qgC {
  margin: 0rem 12.544rem 2.1rem 0rem;
  max-width: 14.5rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: -0.08rem;
  color: #666666;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-bG4 .icon-notification-ssn {
  margin-left: 22.5rem;
  width: 3.5436rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-zhW {
  box-sizing: border-box;
  padding: 5.65rem 4.166rem 4.555rem 6.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f5f5f5;
  flex-shrink: 0;
  cursor:pointer;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-zhW .item--wse {
  margin: 0rem 24.934rem 2.95rem 0rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.4475;
  letter-spacing: -0.11rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-zhW .item--foe {
  margin: 0rem 12.734rem 3.3rem 0rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: -0.08rem;
  color: #666666;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--ZUU .ul-iMN .a-zhW .icon-group-Y6k {
  margin-left: 22.5rem;
  width: 5.2344rem;
  height: 4.0449rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.usermain-1Ap .item--9Xv .item--9Xv-bg {
  width: 192rem;
  height: 108.1rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:06f0e2475ad80b54056694a3caccef7b81f1a44f');
}
