
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.conmain-2CY {
  width: 100%;
  height: 108rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;

  .div-aE4 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;

    .item--8mN {
      background-size: 125% 100%;
      background-image: url('REPLACE_IMAGE:28f377f23b460cd7b8c3d1bb171566b2f095b329');
      flex-direction: column;
      background-color: #2d2e33;
      align-items: center;
      display: flex;
      background-position: -24rem 0;
      width: 100%;
      height: 100%;

      .auto-group-cyha-UqE {
        box-sizing: border-box;
        padding: 1.6rem 2.6rem 43.55rem 8.4rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-trxe-QD6 {
          flex-shrink: 0;
          margin-bottom: 30.15rem;
          box-sizing: border-box;
          padding-top: 0.3rem;
          width: 100%;
          height: 8.3rem;

          .item--XYc {
            display: flex;
            align-items: flex-start;
            width: 171.85rem;
            height: 100%;

            .auto-group-rxqa-sMa {
              padding-top: 0.7rem;
              width: 17.0826rem;
              flex-shrink: 0;
              margin-right: 13.3674rem;
              box-sizing: border-box;

              .item-1-boN {
                width: 16.7411rem;
                height: 6.5rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .ul-jPn {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item--5yS {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                white-space: nowrap;
                font-weight: 300;
                line-height: 2.5;
                color: #ffffff;
                font-family: Noto Sans KR, 'Source Sans Pro';
                margin-right: 13.8rem;
                justify-content: center;
                font-size: 3.2rem;
              }
              .item--NxY {
                display: flex;
                align-items: center;
                font-size: 3.2rem;
                white-space: nowrap;
                font-family: Noto Sans KR, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 12.3rem;
                justify-content: center;
                font-weight: 300;
                line-height: 2.5;
                color: #ffffff;
              }
              .item--Go2 {
                line-height: 2.5;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                font-weight: 300;
                color: #ffffff;
                font-family: Noto Sans KR, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 13.7rem;
                justify-content: center;
                font-size: 3.2rem;
              }
              .item--aYp {
                margin-right: 26rem;
                font-weight: 300;
                color: #ffffff;
                font-family: Noto Sans KR, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3.2rem;
                line-height: 2.5;
              }
              .item--5Va {
                letter-spacing: -0.2rem;
                color: #d8ffe9;
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                line-height: 3.4782608696;
                justify-content: center;
                font-size: 2.3rem;
                font-family: Noto Sans KR, 'Source Sans Pro';
              }
            }
          }
        }
        .item--ahE {
          margin-right: 5.8rem;
          align-items: center;
          line-height: 1.0416666667;
          color: #ffffff;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 9.6rem;
          font-weight: 300;
          letter-spacing: -0.525rem;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .footer-HLk {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 0.8rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        .div-EFz {
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          padding: 1.8rem 32rem 1.2rem 32rem;
          font-weight: 100;
          line-height: 1.4475;
          color: #555555;
          flex-shrink: 0;
          margin-bottom: 1.15rem;
          display: flex;
          letter-spacing: -0.08rem;
          border: solid 0.1rem #f1f1f1;
          width: 100%;
          font-size: 1.5rem;
        }
        .div-JFr {
          width: calc(100% - 143.3469rem);
          height: 7.25rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 111.347rem 0rem 32rem;

          .logo44-1-d3E {
            margin: 0.65rem 2.539rem 0rem 0rem;
            width: 9.7rem;
            height: 3.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .address-YR6 {
            width: 36.4141rem;
            height: 100%;
            flex-shrink: 0;

            .auto-group-aa56-tE4 {
              width: 100%;
              display: flex;
              align-items: center;

              .item-31-15-34-36x {
                font-size: 1.6rem;
                line-height: 1.4475;
                letter-spacing: -0.08rem;
                font-family: Noto Sans KR, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.05rem 7.97rem 0rem 0rem;
                display: flex;
                font-weight: 100;
                color: #555555;
              }
              .span-76p {
                margin-bottom: 0.05rem;
                height: 2.4rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .item--4Gx {
                  font-size: 1.6rem;
                  font-weight: 100;
                  color: #555555;
                  white-space: nowrap;
                  margin-right: 2.2438rem;
                  display: flex;
                  font-family: Noto Sans KR, 'Source Sans Pro';
                  flex-shrink: 0;
                  line-height: 1.4475;
                  letter-spacing: -0.08rem;
                }
                .item-062-1234-5678-Aqn {
                  white-space: nowrap;
                  line-height: 1.4475;
                  letter-spacing: -0.08rem;
                  color: #333333;
                  font-family: Noto Sans KR, 'Source Sans Pro';
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 100;
                }
              }
            }
            .email-smartboothsolsbsolcom-Gtp {
              font-family: Noto Sans KR, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.6rem;
              font-weight: 100;
              line-height: 1.4475;
              letter-spacing: -0.08rem;
              color: #333333;
            }
            .copyright-sb-sol-all-right-reserved-C1n {
              font-size: 1.6rem;
              font-weight: 100;
              line-height: 1.4475;
              letter-spacing: -0.08rem;
              color: #555555;
              font-family: Noto Sans KR, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
            }
          }
        }
      }
      .item--8mN-bg {
        background-image: url('REPLACE_IMAGE:28f377f23b460cd7b8c3d1bb171566b2f095b329');
        width: 192rem;
        height: 108rem;
        position: relative;
      }
    }
  }
}
