
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.conqboardw-8k8 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;

  .item--4dn {
    align-items: center;
    background-color: #6ca5d9;
    box-sizing: border-box;
    width: 100%;
    height: 8.2rem;
    flex-shrink: 0;
    margin-bottom: 6.95rem;
    padding: 0rem 13.467rem 0rem 2.6rem;
    display: flex;

    .logo44-1-8de {
      width: 17.0826rem;
      height: 6.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 17.55rem 0.3rem 0rem;
    }
    .ul-e6C {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-right: 30.8rem;
      height: 100%;

      .item--C7i {
        white-space: nowrap;
        margin-right: 16.55rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.3333333333;
        font-family: Noto Sans KR, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
      }
      .item--5BW {
        margin-right: 15.65rem;
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        justify-content: center;
        font-weight: 700;
        line-height: 3.3333333333;
        color: #ffffff;
        flex-shrink: 0;
      }
      .item--ATr {
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.3333333333;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
        white-space: nowrap;
        margin-right: 17.2rem;
      }
      .item--Thr {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        font-weight: 700;
        color: #ffffff;
        justify-content: center;
        line-height: 3.3333333333;
        font-family: Noto Sans KR, 'Source Sans Pro';
      }
    }
    .item--8JC {
      line-height: 3.4782608696;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.3rem;
      letter-spacing: -0.2rem;
      color: #d8ffe9;
      font-family: Noto Sans KR, 'Source Sans Pro';
    }
  }
  .div-AVn {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-6b36-W3r {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 33.8rem 20.1rem 59.1rem;
      width: 100%;

      .div-22C {
        margin: 0rem 0rem 9.4rem 0.1rem;
        width: 99rem;
        flex-shrink: 0;

        .item--YmE {
          font-size: 4rem;
          font-weight: 300;
          line-height: 1.4475;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.55rem;
          display: flex;
          color: #151515;
          cursor: pointer;
          letter-spacing: -0.3rem;
        }
        .div-pik {
          align-items: center;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          padding: 2.25rem 7.1rem 2rem 2.5rem;
          width: 100%;
          height: 6.5rem;
          display: flex;

          .frame-19-x4G {
            align-items: center;
            white-space: nowrap;
            justify-content: center;
            position: relative;
            font-weight: 300;
            height: calc(100% - 0.05rem);
            display: flex;
            letter-spacing: -0.08rem;
            margin: 0.05rem 12.2rem 0rem 0rem;
            width: 2.7rem;
            line-height: 1.4475;
            color: #000000;
            font-family: Noto Sans KR, 'Source Sans Pro';
            flex-shrink: 0;
            overflow: hidden;
            font-size: 1.5rem;
          }
          .frame-20-1HS {
            line-height: 1.4475;
            color: #000000;
            align-items: center;
            flex-shrink: 0;
            margin: 0.05rem 27.3rem 0rem 0rem;
            font-size: 1.5rem;
            font-weight: 300;
            width: 4.2rem;
            height: calc(100% - 0.05rem);
            overflow: hidden;
            justify-content: center;
            display: flex;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            position: relative;
            letter-spacing: -0.08rem;
          }
          .frame-21-5o6 {
            font-size: 1.5rem;
            font-weight: 300;
            white-space: nowrap;
            line-height: 1.4475;
            color: #000000;
            margin: 0.05rem 20rem 0rem 0rem;
            width: 11.9rem;
            height: calc(100% - 0.05rem);
            position: relative;
            overflow: hidden;
            display: flex;
            letter-spacing: -0.08rem;
            justify-content: center;
            font-family: Noto Sans KR, 'Source Sans Pro';
            align-items: center;
            flex-shrink: 0;
          }
          .frame-22-ZyA {
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.05rem 1.9rem 0rem 0rem;
            padding: 0.05rem 0.1rem 0rem 0.1rem;
            height: calc(100% - 0.05rem);
            letter-spacing: -0.08rem;
            color: #000000;
            width: 5.6rem;
            position: relative;
            font-size: 1.5rem;
            display: flex;
            line-height: 1.4475;
            box-sizing: border-box;
            overflow: hidden;
            font-weight: 300;
          }
          .frame-23-eDv {
            position: relative;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            color: #000000;
            flex-shrink: 0;
            display: flex;
            font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: -0.08rem;
            line-height: 1.4475;
            align-items: center;
            margin-bottom: 0.05rem;
            width: 3.6rem;
            height: calc(100% - 0.05rem);
            overflow: hidden;
          }
        }
        .frame-15-7NQ {
          flex-direction: column;
          box-sizing: border-box;
          position: relative;
          width: 100%;
          overflow: hidden;
          display: flex;
          border: solid 0.1rem #000000;
          margin-bottom: 2.9rem;
          padding-bottom: 43.05rem;

          .frame-17-TBN {
            box-sizing: border-box;
            font-size: 2rem;
            border: solid 0.1rem #000000;
            flex-shrink: 0;
            margin-bottom: 8.45rem;
            padding: 2.85rem 2rem;
            line-height: 1.4475;
            white-space: nowrap;
            position: relative;
            display: flex;
            font-weight: 500;
            letter-spacing: -0.08rem;
            font-family: Noto Sans KR, 'Source Sans Pro';
            width: 100%;
            overflow: hidden;
            color: #000000;
          }
          .frame-18-LFA {
            color: #000000;
            height: 2.2rem;
            overflow: hidden;
            display: flex;
            width: 14.6rem;
            line-height: 1.4475;
            white-space: nowrap;
            letter-spacing: -0.08rem;
            align-items: center;
            margin-left: 2rem;
            position: relative;
            font-size: 1.5rem;
            flex-shrink: 0;
            font-weight: 300;
            font-family: Noto Sans KR, 'Source Sans Pro';
            justify-content: center;
          }
        }
        .frame-24-QF2 {
          width: 100%;
          height: 26rem;
          overflow: hidden;
          position: relative;
          box-sizing: border-box;
          padding: 4.4rem 1.2rem 2.2rem 2rem;

          .frame-25-KMz {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;

            .item--Tyz {
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 600;
              line-height: 1.3333333333;
              font-family: Roboto, 'Source Sans Pro';
              color: #161616;
              margin-bottom: 0.8rem;
              display: flex;
              font-size: 1.8rem;
            }
            .auto-group-npur-B9J {
              width: 100%;
              height: 8.9rem;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;
              margin-bottom: 2.6rem;

              .input-6XA {
                font-weight: 400;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                border: solid 0.1rem #077d55;
                box-sizing: border-box;
                height: 100%;
                display: flex;
                line-height: 1.5;
                background-color: #ffffff;
                flex-shrink: 0;
                margin-right: 1.7rem;
                width: 85.6rem;
                color: #161616;
                padding: 3.25rem 1.2rem;
                font-size: 1.6rem;
                border-radius: 0.8rem;
              }
              .status-ZQk {
                border-radius: 0.6rem;
                flex-shrink: 0;
                white-space: nowrap;
                justify-content: center;
                position: relative;
                line-height: 1.4285714286;
                color: #077d55;
                box-sizing: border-box;
                overflow: hidden;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                font-family: Roboto, 'Source Sans Pro';
                display: flex;
                width: 8.5rem;
                height: 8.8rem;
                align-items: center;
                border: solid 0.14rem #077d55;
              }
            }
            .frame-26-2ZE {
              position: relative;
              display: flex;
              border: solid 0.1rem #86c48d;
              flex-shrink: 0;
              overflow: hidden;
              padding: 0.3rem 0.2rem 0rem 1rem;
              height: 4.7rem;
              align-items: center;
              box-sizing: border-box;

              .frame-27-9Nx {
                border: solid 0.1rem #86c48d;
                margin-right: 1.2rem;
                width: 13.5rem;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.7142857143;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                position: relative;
                display: flex;
                justify-content: center;
                overflow: hidden;
                align-items: center;
                color: #000000;
                box-sizing: border-box;
                flex-shrink: 0;
              }
              .frame-28-EQQ {
                display: flex;
                font-weight: 400;
                align-items: center;
                margin: 1rem 47.8rem 1rem 0rem;
                overflow: hidden;
                line-height: 1.7142857143;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                width: 9.9rem;
                position: relative;
                font-size: 1.4rem;
                white-space: nowrap;
                height: calc(100% - 2rem);
                justify-content: center;
                flex-shrink: 0;
              }
              .item-2019-12-19-14-55-54-KAx {
                display: flex;
                font-weight: 300;
                line-height: 1.4475;
                color: #000000;
                font-family: Noto Sans KR, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                font-size: 1.5rem;
                letter-spacing: -0.08rem;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .auto-group-njex-Bix {
        margin: 0rem 0.1rem 1.05rem 0rem;
        width: 99rem;
        height: 22.85rem;
        position: relative;
        flex-shrink: 0;

        .table-7Mi {
          height: 21.4rem;
          display: flex;
          flex-direction: column;
          top: 0;
          overflow: hidden;
          align-items: center;
          width: 99rem;
          position: absolute;
          left: 0;

          .tr-2zU {
            width: 99.05rem;
            height: 5.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .th-yui {
              font-weight: 300;
              color: #555555;
              font-family: Noto Sans KR, 'Source Sans Pro';
              background-color: #b1e6f6;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              white-space: nowrap;
              border-radius: 0.8rem 0 0 0;
              height: 100%;
              justify-content: center;
              width: 18.4rem;
              line-height: 1.5;
              align-items: center;
              letter-spacing: -0.12rem;
            }
            .th-T4C {
              line-height: 1.5;
              white-space: nowrap;
              font-size: 1.6rem;
              flex-shrink: 0;
              justify-content: center;
              display: flex;
              font-weight: 300;
              background-color: #b1e6f6;
              width: 52.4703rem;
              align-items: center;
              letter-spacing: -0.12rem;
              color: #555555;
              font-family: Noto Sans KR, 'Source Sans Pro';
              height: 100%;
            }
            .th-MQU {
              font-family: Noto Sans KR, 'Source Sans Pro';
              white-space: nowrap;
              background-color: #b1e6f6;
              height: 100%;
              font-size: 1.6rem;
              letter-spacing: -0.12rem;
              font-weight: 300;
              line-height: 1.5;
              color: #555555;
              width: 11.8797rem;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-shrink: 0;
            }
            .th-rs2 {
              white-space: nowrap;
              justify-content: center;
              font-size: 1.6rem;
              letter-spacing: -0.12rem;
              font-family: Noto Sans KR, 'Source Sans Pro';
              align-items: center;
              font-weight: 300;
              background-color: #b1e6f6;
              height: 100%;
              border-radius: 0 0.8rem 0 0;
              flex-shrink: 0;
              width: 16.3rem;
              display: flex;
              line-height: 1.5;
              color: #555555;
            }
          }
          .tbodylistarea-ZmS {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            flex-shrink: 0;

            .auto-group-zka4-v6C {
              align-items: center;
              flex-shrink: 0;
              height: 7.9rem;
              display: flex;

              .tr-f3n {
                margin-right: 23.5297rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .td-R2x {
                  flex-shrink: 0;
                  align-items: center;
                  color: #333333;
                  font-size: 1.4rem;
                  line-height: 1.6071428571;
                  font-family: Noto Sans KR, 'Source Sans Pro';
                  width: 19.8rem;
                  justify-content: center;
                  box-sizing: border-box;
                  display: flex;
                  font-weight: 100;
                  white-space: nowrap;
                  border: solid 0.1rem #ffffff;
                  height: 100%;
                  letter-spacing: -0.1125rem;
                }
                .td-uip {
                  box-sizing: border-box;
                  padding: 2.725rem 2.9rem 2.875rem 2.9rem;
                  width: 28.7703rem;
                  height: 100%;
                  border: solid 0.1rem #ffffff;
                  flex-shrink: 0;

                  .p-F1z {
                    height: 100%;
                    letter-spacing: -0.1125rem;
                    justify-content: center;
                    font-weight: 300;
                    white-space: nowrap;
                    align-items: center;
                    margin-right: 15.4703rem;
                    width: 7.5rem;
                    font-size: 1.5rem;
                    line-height: 1.5;
                    font-family: Noto Sans KR, 'Source Sans Pro';
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    color: #333333;
                  }
                }
              }
              .td-KGk {
                white-space: nowrap;
                color: #333333;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                font-weight: 100;
                letter-spacing: -0.1125rem;
                font-family: Noto Sans KR, 'Source Sans Pro';
                box-sizing: border-box;
                width: 11.8797rem;
                font-size: 1.4rem;
                line-height: 1.6071428571;
                border: solid 0.1rem #ffffff;
                height: 100%;
                align-items: center;
              }
              .td-1vG {
                position: relative;
                border: solid 0.1rem #ffffff;
                box-sizing: border-box;
                flex-shrink: 0;
                width: 14.85rem;
                height: 100%;

                .span-BJx {
                  position: absolute;
                  font-size: 1.5rem;
                  overflow: hidden;
                  align-items: center;
                  justify-content: center;
                  color: #333333;
                  width: 6.1rem;
                  left: 4.3766rem;
                  font-family: Noto Sans KR, 'Source Sans Pro';
                  display: flex;
                  font-weight: 100;
                  line-height: 1.5;
                  letter-spacing: -0.1125rem;
                  white-space: nowrap;
                  height: 2.3rem;
                  top: 1.6rem;
                }
                .span-eTS {
                  font-size: 1.5rem;
                  font-weight: 100;
                  letter-spacing: -0.1125rem;
                  overflow: hidden;
                  justify-content: center;
                  left: 5.1922rem;
                  top: 3.85rem;
                  font-family: Noto Sans KR, 'Source Sans Pro';
                  width: 4.5rem;
                  height: 2.3rem;
                  color: #333333;
                  position: absolute;
                  align-items: center;
                  white-space: nowrap;
                  display: flex;
                  line-height: 1.5;
                }
              }
            }
            .tr-X1S {
              align-items: center;
              flex-shrink: 0;
              height: 7.9rem;
              display: flex;

              .td-ftL {
                height: 100%;
                letter-spacing: -0.1125rem;
                box-sizing: border-box;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                white-space: nowrap;
                font-weight: 100;
                line-height: 1.6071428571;
                color: #333333;
                font-family: Noto Sans KR, 'Source Sans Pro';
                width: 19.8rem;
                align-items: center;
                font-size: 1.4rem;
                border: solid 0.1rem #ffffff;
                border-radius: 0 0 0 0.8rem;
              }
              .td-9oW {
                width: 38.5703rem;
                height: 100%;
                border: solid 0.1rem #ffffff;
                flex-shrink: 0;
                margin-right: 13.4297rem;
                box-sizing: border-box;
                padding: 2.725rem 2.9rem 2.875rem 2.9rem;

                .p-GNL {
                  margin-right: 15.3703rem;
                  overflow: hidden;
                  font-family: Noto Sans KR, 'Source Sans Pro';
                  white-space: nowrap;
                  align-items: center;
                  justify-content: center;
                  width: 17.4rem;
                  font-weight: 300;
                  display: flex;
                  font-size: 1.5rem;
                  letter-spacing: -0.1125rem;
                  height: 100%;
                  position: relative;
                  line-height: 1.5;
                  color: #333333;
                }
              }
              .td-Mua {
                box-sizing: border-box;
                letter-spacing: -0.1125rem;
                white-space: nowrap;
                display: flex;
                line-height: 1.6071428571;
                flex-shrink: 0;
                margin-right: 0.2203rem;
                width: 11.8797rem;
                justify-content: center;
                font-size: 1.4rem;
                color: #333333;
                height: 100%;
                align-items: center;
                border: solid 0.1rem #ffffff;
                font-weight: 100;
                font-family: Noto Sans KR, 'Source Sans Pro';
              }
              .td-FVA {
                width: 11.95rem;
                height: 100%;
                position: relative;
                border: solid 0.1rem #ffffff;
                box-sizing: border-box;
                border-radius: 0 0 0.8rem 0;
                flex-shrink: 0;

                .span-CfJ {
                  left: 4.4266rem;
                  top: 1.6rem;
                  align-items: center;
                  color: #333333;
                  white-space: nowrap;
                  width: 6rem;
                  height: 2.3rem;
                  overflow: hidden;
                  font-size: 1.5rem;
                  position: absolute;
                  line-height: 1.5;
                  font-family: Noto Sans KR, 'Source Sans Pro';
                  display: flex;
                  justify-content: center;
                  font-weight: 100;
                  letter-spacing: -0.1125rem;
                }
                .span-tY8 {
                  width: 4.5rem;
                  top: 3.85rem;
                  align-items: center;
                  font-family: Noto Sans KR, 'Source Sans Pro';
                  left: 5.1922rem;
                  overflow: hidden;
                  line-height: 1.5;
                  color: #333333;
                  white-space: nowrap;
                  height: 2.3rem;
                  position: absolute;
                  display: flex;
                  letter-spacing: -0.1125rem;
                  justify-content: center;
                  font-size: 1.5rem;
                  font-weight: 100;
                }
              }
            }
          }
        }
        .item-1-Ycg {
          top: 21.15rem;
          display: flex;
          font-size: 1.5rem;
          white-space: nowrap;
          width: 0.8rem;
          height: 1.7rem;
          position: absolute;
          left: 49.5rem;
          font-family: Noto Sans KR, 'Source Sans Pro';
          font-weight: 300;
          line-height: 1.1;
          letter-spacing: -0.075rem;
          color: #999999;
        }
      }
      .div-qbn {
        flex-shrink: 0;
        margin-left: 20.3rem;
        width: 78.8rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .auto-group-kuhr-Bfe {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 4.3rem 54.7rem;
          width: calc(100% - 54.7rem);
          height: 4.2rem;
          display: flex;

          .status-7JQ {
            margin-right: 1rem;
            height: 100%;
            position: relative;
            border: solid 0.16rem #077d55;
            box-sizing: border-box;
            border-radius: 0.6rem;
            width: 9.6rem;
            overflow: hidden;
            font-size: 1.4rem;
            white-space: nowrap;
            align-items: center;
            line-height: 1.4285714286;
            color: #077d55;
            font-family: Roboto, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            text-align: center;
            font-weight: 500;
            flex-shrink: 0;
          }
          .button-s-40-mtk {
            padding: 1rem 2rem;
            width: 13.5rem;
            height: calc(100% - 0.2rem);
            background-color: #4ab4d6;
            border-radius: 1.2rem;
            flex-shrink: 0;
            margin: 0.1rem 0;
            box-sizing: border-box;

            .button-uEG {
              height: 100%;
              overflow: hidden;
              position: relative;
              border-radius: 1.2rem;
              box-sizing: border-box;
              padding: 0 3.45rem;
              width: 100%;

              .label-rQQ {
                align-items: center;
                font-size: 1.4rem;
                line-height: 1.4285714286;
                height: 100%;
                overflow: hidden;
                position: relative;
                display: flex;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                width: 100%;
                justify-content: center;
                font-weight: 500;
                color: #ffffff;
              }
            }
          }
        }
        .auto-group-kbwn-kEt {
          margin-right: 20.3rem;
          width: 58.5rem;
          height: 4.2rem;
          position: relative;
          flex-shrink: 0;

          .selectstype-tM6 {
            width: 28.9rem;
            height: 4.2rem;
            position: absolute;
            border: solid 0.1rem #eeeff0;
            background-position: 20.2879rem 1.7325rem;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.25rem 0rem 1.25rem 2.1rem;
            background-color: #ffffff;
            background-size: 4.167% 17.5%;
            background-image: url('REPLACE_IMAGE:7a53e29891f46243ae88825ff5277e8a3f26818d');
            left: 0;
            top: 0;

            .div-QqE {
              width: 100%;
              position: relative;
              display: flex;
              font-weight: 100;
              font-family: Noto Sans KR, 'Source Sans Pro';
              white-space: nowrap;
              height: 100%;
              overflow: hidden;
              font-size: 1.6rem;
              line-height: 1.0625;
              color: #999999;
            }
            .selectstype-tM6-bg {
              height: 4.2rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:7a53e29891f46243ae88825ff5277e8a3f26818d');
              width: 28.9rem;
            }
          }
          .inputstext-3dJ {
            position: absolute;
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1rem 2.1rem;
            width: 38.9rem;
            border: solid 0.1rem #eeeff0;
            height: 4.2rem;
            left: 17rem;
            top: 0;

            .divplaceholder-N9n {
              overflow: hidden;
              position: relative;
              display: flex;
              white-space: nowrap;
              height: 100%;
              font-size: 1.5rem;
              font-family: Noto Sans KR, 'Source Sans Pro';
              letter-spacing: -0.05rem;
              align-items: center;
              margin-right: 25.8rem;
              font-weight: 100;
              line-height: 1.4475;
              width: 8.9rem;
              color: #999999;
              justify-content: center;
            }
          }
          .button-2VE {
            position: relative;
            left: 54.5rem;
            top: 0.1rem;
            background-size: 47.5% 47.5%;
            background-position: 1.05rem 1.05rem;
            background-image: url('REPLACE_IMAGE:26df35d0a10a29b1cd3f29cd4f64023185e57978');
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
    .footer-hrG {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 1.4rem;
      width: 100%;

      .div-TKe {
        flex-shrink: 0;
        line-height: 1.4475;
        letter-spacing: -0.08rem;
        border: solid 0.1rem #f1f1f1;
        font-family: Noto Sans KR, 'Source Sans Pro';
        margin-bottom: 1.15rem;
        font-weight: 100;
        color: #555555;
        padding: 1.8rem 32rem 1.2rem 32rem;
        display: flex;
        white-space: nowrap;
        box-sizing: border-box;
        width: 100%;
        font-size: 1.5rem;
      }
      .div-8wa {
        flex-shrink: 0;
        margin: 0rem 111.347rem 0rem 32rem;
        width: calc(100% - 143.3469rem);
        height: 7.25rem;
        display: flex;
        align-items: flex-start;

        .logo44-1-fgc {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.65rem 2.539rem 0rem 0rem;
          width: 9.7rem;
          height: 3.7rem;
          object-fit: cover;
        }
        .address-o28 {
          width: 36.4141rem;
          height: 100%;
          flex-shrink: 0;

          .auto-group-4ykt-YkQ {
            width: 100%;
            display: flex;
            align-items: center;

            .item-31-15-34-u5A {
              margin: 0.05rem 7.97rem 0rem 0rem;
              font-size: 1.6rem;
              font-weight: 100;
              letter-spacing: -0.08rem;
              font-family: Noto Sans KR, 'Source Sans Pro';
              display: flex;
              line-height: 1.4475;
              color: #555555;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .span-NDe {
              margin-bottom: 0.05rem;
              height: 2.4rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item--K8t {
                letter-spacing: -0.08rem;
                flex-shrink: 0;
                margin-right: 2.2438rem;
                display: flex;
                font-size: 1.6rem;
                font-family: Noto Sans KR, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 100;
                line-height: 1.4475;
                color: #555555;
              }
              .item-062-1234-5678-1XW {
                white-space: nowrap;
                flex-shrink: 0;
                line-height: 1.4475;
                letter-spacing: -0.08rem;
                color: #333333;
                font-family: Noto Sans KR, 'Source Sans Pro';
                display: flex;
                font-size: 1.6rem;
                font-weight: 100;
              }
            }
          }
          .email-smartboothsolsbsolcom-KYC {
            letter-spacing: -0.08rem;
            color: #333333;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.6rem;
            font-weight: 100;
            line-height: 1.4475;
          }
          .copyright-sb-sol-all-right-reserved-eqN {
            white-space: nowrap;
            display: flex;
            font-size: 1.6rem;
            font-weight: 100;
            line-height: 1.4475;
            letter-spacing: -0.08rem;
            color: #555555;
            font-family: Noto Sans KR, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
