
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.header-DPN {
  display: flex;
  align-items: center;
  background-color: #86c48d;
  box-sizing: border-box;
  padding-left: 2.6rem;
  width: 100%;

  .logo44-1-Xur {
    height: 6.5rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 4.1rem 0.3rem 0rem;
    width: 17.0826rem;
  }
  .ul-bep {
    box-sizing: border-box;
    padding: 0.2rem 18.483rem 0rem 6.05rem;
    height: 8.2rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .item--HnY {
      margin-right: 14.2174rem;
      align-items: center;
      font-family: Noto Sans KR, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.3333333333;
      color: #ffffff;
      white-space: nowrap;
    }
    .item--aWk {
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 700;
      color: #ffffff;
      font-family: Noto Sans KR, 'Source Sans Pro';
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 13.2826rem;
      line-height: 3.3333333333;
      white-space: nowrap;
    }
    .item--Fct {
      margin-right: 10.0674rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.3333333333;
      color: #ffffff;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item--Mfv {
      color: #ffffff;
      display: flex;
      font-weight: 700;
      line-height: 3.3333333333;
      font-size: 2.4rem;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 13.2rem;
      align-items: center;
      justify-content: center;
    }
    .item--tQx {
      line-height: 3.3333333333;
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 700;
      color: #ffffff;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
    }
  }
  .auto-group-mug8-1Eg {
    box-sizing: border-box;
    padding: 1.5rem 2.6rem 1.7rem 4.1rem;
    height: 8.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .btn-uqr {
      color: #ffffff;
      text-align: center;
      font-weight: 700;
      line-height: 1.3625;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      white-space: nowrap;
      justify-content: center;
      font-size: 2rem;
      font-family: Noto Sans, 'Source Sans Pro';
      display: flex;
      margin-right: 4.1rem;
      width: 6.2rem;
      height: 100%;
    }
    .btn-nek {
      cursor: pointer;
      color: #ffffff;
      display: flex;
      height: 100%;
      white-space: nowrap;
      justify-content: center;
      text-align: center;
      flex-shrink: 0;
      font-family: Noto Sans, 'Source Sans Pro';
      align-items: center;
      width: 13.9174rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.3625;
    }
  }
}
