
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.header-Rma {
  box-sizing: border-box;
  padding-left: 2.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #86c48d;

  .logo44-1-nME {
    margin: 0rem 4.1rem 0.3rem 0rem;
    width: 17.0826rem;
    height: 6.5rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .ul-7eQ {
    padding: 0.2rem 18.633rem 0rem 6.2rem;
    height: 8.2rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    box-sizing: border-box;

    .item--pYp {
      margin-right: 14.6174rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      white-space: nowrap;
      justify-content: center;
      font-size: 2.4rem;
      line-height: 3.3333333333;
      color: #ffffff;
      font-family: Noto Sans KR, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .item--Jyn {
      white-space: nowrap;
      margin-right: 13.5826rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      font-family: Noto Sans KR, 'Source Sans Pro';
      align-items: center;
      font-weight: 400;
      line-height: 3.3333333333;
      color: #ffffff;
      flex-shrink: 0;
    }
    .item--oQk {
      flex-shrink: 0;
      display: flex;
      font-weight: 400;
      font-family: Noto Sans KR, 'Source Sans Pro';
      font-size: 2.4rem;
      line-height: 3.3333333333;
      color: #ffffff;
      white-space: nowrap;
      margin-right: 10.1674rem;
      align-items: center;
      justify-content: center;
    }
    .item--XrY {
      margin-right: 13.4rem;
      color: #ffffff;
      font-family: Noto Sans KR, 'Source Sans Pro';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3.3333333333;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item--U16 {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3.3333333333;
      color: #ffffff;
      font-family: Noto Sans KR, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
    }
  }
  .auto-group-i2gx-BAQ {
    box-sizing: border-box;
    padding: 1.5rem 2.6rem 1.7rem 4.1rem;
    height: 8.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .btn-tqW {
      margin-right: 4.1rem;
      width: 6.2rem;
      text-align: center;
      line-height: 1.3625;
      height: 100%;
      cursor: pointer;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-family: Noto Sans, 'Source Sans Pro';
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn-QYx {
      height: 100%;
      flex-shrink: 0;
      font-weight: 700;
      font-family: Noto Sans, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      width: 13.9174rem;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      justify-content: center;
      line-height: 1.3625;
      color: #ffffff;
      align-items: center;
    }
  }
}
