
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.header-AM6 {
  align-items: center;
  background-color: #86c48d;
  box-sizing: border-box;
  padding-left: 2.6rem;
  width: 100%;
  display: flex;

  .logo44-1-KDz {
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 4.1rem 0.3rem 0rem;
    width: 17.0826rem;
    height: 6.5rem;
  }
  .ul-T5J {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.2rem 18.483rem 0rem 6.05rem;
    height: 8.2rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;

    .item--k4Q {
      margin-right: 14.2174rem;
      justify-content: center;
      color: #ffffff;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.3333333333;
    }
    .item--4Kz {
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 13.2826rem;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      display: flex;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.3333333333;
    }
    .item--jS8 {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.3333333333;
      color: #ffffff;
      margin-right: 10.0674rem;
      align-items: center;
      justify-content: center;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
    .item--s2Y {
      line-height: 3.3333333333;
      color: #ffffff;
      flex-shrink: 0;
      margin-right: 13.2rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
    }
    .item--oRz {
      font-weight: 700;
      line-height: 3.3333333333;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      display: flex;
      font-size: 2.4rem;
    }
  }
  .auto-group-gbtn-swe {
    height: 8.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.5rem 2.6rem 1.7rem 4.1rem;

    .btn-Qwa {
      width: 6.2rem;
      cursor: pointer;
      font-weight: 700;
      align-items: center;
      flex-shrink: 0;
      line-height: 1.3625;
      color: #ffffff;
      font-family: Noto Sans, 'Source Sans Pro';
      display: flex;
      margin-right: 4.1rem;
      height: 100%;
      text-align: center;
      font-size: 2rem;
      white-space: nowrap;
      justify-content: center;
    }
    .btn-WUp {
      flex-shrink: 0;
      height: 100%;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      display: flex;
      font-size: 2rem;
      line-height: 1.3625;
      font-family: Noto Sans, 'Source Sans Pro';
      width: 13.9174rem;
      cursor: pointer;
      text-align: center;
      font-weight: 700;
    }
  }
}
