
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.usertotalmenu-ZiG {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  align-items: flex-end;
  display: flex;
  background-image: url('REPLACE_IMAGE:2fa68e12f686eeb2c562487396a2ceed99924bf3');
  background-color: #ffffff;
  padding: 8.5rem 4.788rem 53.3rem 5.9rem;
  overflow: hidden;
  flex-direction: column;

  .auto-group-3vw4-TYk {
    margin-bottom: 8.3887rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .item--nqv {
      letter-spacing: -0.0375rem;
      color: #ffffff;
      white-space: nowrap;
      margin: 0.089rem 4.05rem 0rem 0rem;
      display: flex;
      align-items: center;
      font-weight: 300;
      line-height: 1.8333333333;
      flex-shrink: 0;
      justify-content: center;
      font-size: 3.3rem;
      font-family: Noto Sans KR, 'Source Sans Pro';
    }
    .item--3mr {
      margin: 0.089rem 9.5rem 0rem 0rem;
      display: flex;
      align-items: center;
      line-height: 1.8333333333;
      letter-spacing: -0.0375rem;
      font-family: Noto Sans KR, 'Source Sans Pro';
      justify-content: center;
      font-size: 3.3rem;
      font-weight: 300;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item--xdv {
      width: 6.6115rem;
      height: 6.6113rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-wrhi-u3N {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 9.512rem 1.4rem 0rem;
    width: calc(100% - 9.5115rem);
    height: 10.9rem;

    .auto-group-gxhe-dVA {
      flex-shrink: 0;
      margin-right: 8.45rem;
      box-sizing: border-box;
      padding: 2.4rem 0rem 0rem 4.3rem;
      height: 100%;

      .item-1-9TW {
        position: relative;
        background-size: 81.764% 94.118%;
        background-position: -0rem 0;
        background-image: url('REPLACE_IMAGE:b5fbd387fe52621e526221f9323f6bbcd619734e');
        width: 25.2rem;
        height: 8.5rem;
      }
    }
    .item--efA {
      align-items: center;
      flex-shrink: 0;
      margin: 4.5rem 0rem 3.3rem 0rem;
      height: calc(100% - 7.8rem);
      display: flex;

      .item--MZa {
        cursor: pointer;
        display: flex;
        line-height: 0.9032258065;
        letter-spacing: -0.0375rem;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 12.6rem 0.3rem 0rem;
        justify-content: center;
        font-size: 3.1rem;
        font-weight: 300;
        color: #ffffff;
        flex-shrink: 0;
        align-items: center;
      }
      .item--rFS {
        justify-content: center;
        font-weight: 300;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        flex-shrink: 0;
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 3.1rem;
        line-height: 0.9032258065;
        letter-spacing: -0.0375rem;
        white-space: nowrap;
        margin: 0rem 11.35rem 0.1rem 0rem;
      }
      .item--k5v {
        font-size: 3.1rem;
        font-weight: 300;
        line-height: 0.9032258065;
        color: #ffffff;
        white-space: nowrap;
        margin: 0.3rem 16rem 0rem 0rem;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.0375rem;
        font-family: Noto Sans KR, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
      }
      .item--noJ {
        white-space: nowrap;
        align-items: center;
        font-size: 3.1rem;
        display: flex;
        justify-content: center;
        font-weight: 300;
        line-height: 0.9032258065;
        letter-spacing: -0.0375rem;
        color: #ffffff;
        margin: 0.3rem 19.1rem 0rem 0rem;
        cursor: pointer;
        font-family: Noto Sans KR, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .item--URE {
        display: flex;
        align-items: center;
        font-size: 3.1rem;
        line-height: 0.9032258065;
        font-family: Noto Sans KR, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        cursor: pointer;
        justify-content: center;
        font-weight: 300;
        letter-spacing: -0.0375rem;
        color: #ffffff;
        white-space: nowrap;
      }
    }
  }
  .auto-group-yd36-ZxU {
    margin: 0rem 9.662rem 0rem 4.9rem;
    width: calc(100% - 14.5615rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .sol-6hW {
      font-family: Noto Sans KR, 'Source Sans Pro';
      margin-right: 12.15rem;
      display: flex;
      letter-spacing: -0.0375rem;
      font-size: 3.6rem;
      font-weight: 300;
      line-height: 1.0277777778;
      color: #ffffff;
      flex-shrink: 0;
      max-width: 22rem;
      align-items: center;
      justify-content: center;
    }
    .item-1-pNc {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.4rem 17.1rem 0rem 0rem;
      row-gap: 2.8rem;

      .item--u9A {
        letter-spacing: -0.0375rem;
        color: #ffffff;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        font-size: 2.3rem;
        line-height: 1.847826087;
        align-items: center;
        font-weight: 100;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--R7W {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.3rem;
        font-weight: 100;
        line-height: 1.847826087;
        font-family: Noto Sans KR, 'Source Sans Pro';
        letter-spacing: -0.0375rem;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .contents1-va4 {
        font-family: Noto Sans KR, 'Source Sans Pro';
        justify-content: center;
        line-height: 1.847826087;
        letter-spacing: -0.0375rem;
        font-weight: 100;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-size: 2.3rem;
      }
    }
    .item-2-Tpt {
      margin: 0.4rem 17rem 0rem 0rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--aec {
        justify-content: center;
        font-size: 2.3rem;
        line-height: 1.847826087;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.8rem;
        display: flex;
        align-items: center;
        font-weight: 100;
        letter-spacing: -0.0375rem;
      }
      .contents1-s7v {
        line-height: 1.847826087;
        letter-spacing: -0.0375rem;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        font-size: 2.3rem;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
      }
    }
    .item-3-Cfz {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.4rem 20.5rem 0rem 0rem;
      row-gap: 2.8rem;
      align-items: center;
      display: flex;

      .contents1-S4Y {
        font-size: 2.3rem;
        line-height: 1.847826087;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        letter-spacing: -0.0375rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .contents2-MSQ {
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 2.3rem;
        line-height: 1.847826087;
        letter-spacing: -0.0375rem;
      }
      .contents3-Hqr {
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-size: 2.3rem;
        font-weight: 100;
        letter-spacing: -0.0375rem;
        white-space: nowrap;
        display: flex;
        line-height: 1.847826087;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
      }
    }
    .item-4-2oS {
      flex-shrink: 0;
      margin: 0.4rem 20.5rem 0rem 0rem;
      row-gap: 2.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .contents1-Ymn {
        white-space: nowrap;
        justify-content: center;
        font-size: 2.3rem;
        line-height: 1.847826087;
        letter-spacing: -0.0375rem;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-weight: 100;
      }
      .contents2-tqe {
        font-size: 2.3rem;
        line-height: 1.847826087;
        letter-spacing: -0.0375rem;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-weight: 100;
        white-space: nowrap;
      }
      .contents3-ScG {
        line-height: 1.847826087;
        letter-spacing: -0.0375rem;
        font-family: Noto Sans KR, 'Source Sans Pro';
        flex-shrink: 0;
        align-items: center;
        font-weight: 100;
        font-size: 2.3rem;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
      }
    }
    .item-5-7yJ {
      flex-shrink: 0;
      margin-top: 0.4rem;
      row-gap: 2.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .contents1-qeQ {
        display: flex;
        align-items: center;
        font-weight: 100;
        line-height: 1.847826087;
        letter-spacing: -0.0375rem;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        justify-content: center;
        font-size: 2.3rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .contents2-z1W {
        justify-content: center;
        font-weight: 100;
        letter-spacing: -0.0375rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Noto Sans KR, 'Source Sans Pro';
        display: flex;
        align-items: center;
        font-size: 2.3rem;
        line-height: 1.847826087;
        color: #ffffff;
      }
      .contents3-Jnt {
        align-items: center;
        font-size: 2.3rem;
        font-weight: 100;
        line-height: 1.847826087;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        letter-spacing: -0.0375rem;
        white-space: nowrap;
        justify-content: center;
      }
    }
  }
}
