
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 101.4rem;
}.userul-CRW {
  width: 100%;
  display: flex;
  align-items: flex-start;

  .a-ZG4 {
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #f5f5f5;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.35rem 0.997rem 1.5rem 2rem;
    align-items: center;

    .item--hdA {
      font-family: Noto Sans KR, 'Source Sans Pro';
      display: flex;
      font-size: 2rem;
      letter-spacing: -0.11rem;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 12.203rem 0.85rem 0rem;
      font-weight: 300;
      line-height: 1.4475;
    }
    .item--ogC {
      flex-shrink: 0;
      display: flex;
      font-weight: 100;
      line-height: 1.6;
      color: #666666;
      font-family: Noto Sans KR, 'Source Sans Pro';
      margin: 0rem 1.503rem 0.1rem 0rem;
      max-width: 15.5rem;
      font-size: 1.5rem;
      letter-spacing: -0.08rem;
    }
    .icon-health-qMz {
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 13.3rem;
      width: 3.7029rem;
      height: 3.5rem;
      object-fit: contain;
    }
  }
  .a-xhW {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.35rem 0rem 1.304rem 2rem;
    width: 20rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #f5f5f5;

    .item--4Ve {
      display: flex;
      font-size: 2rem;
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 11.9rem 0.35rem 0rem;
      line-height: 1.4475;
      letter-spacing: -0.11rem;
      white-space: nowrap;
      font-weight: 300;
    }
    .auto-group-jqjs-w3e {
      box-sizing: border-box;
      padding-top: 0.5rem;
      width: 100%;
      flex-shrink: 0;
      margin-bottom: 0.1rem;

      .item--5Qk {
        letter-spacing: -0.08rem;
        color: #666666;
        font-family: Noto Sans KR, 'Source Sans Pro';
        max-width: 16rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 1.6;
      }
    }
    .icon-flag-Lba {
      flex-shrink: 0;
      margin-right: 0.023rem;
      width: 2.677rem;
      height: 3.6957rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .a-sLc {
    box-sizing: border-box;
    padding: 3.35rem 2.422rem 2.587rem 2.2rem;
    width: 20rem;
    border: solid 0.1rem #f5f5f5;
    flex-shrink: 0;
    margin-right: 1.2rem;

    .item--D9a {
      display: flex;
      font-size: 2rem;
      font-weight: 300;
      white-space: nowrap;
      margin-bottom: 3.95rem;
      line-height: 1.4475;
      letter-spacing: -0.11rem;
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
    }
    .auto-group-pklc-Bkc {
      margin-left: 0.8rem;
      width: calc(100% - 0.8rem);
      display: flex;
      align-items: flex-start;

      .item--iEk {
        line-height: 1.6;
        color: #666666;
        font-family: Noto Sans KR, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 100;
        display: flex;
        font-size: 1.5rem;
        letter-spacing: -0.08rem;
        white-space: nowrap;
        margin-right: 10.1625rem;
      }
      .icon-call-calling-SgY {
        margin-top: 0.8871rem;
        width: 3.5156rem;
        height: 3.3262rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .a-M2p {
    border: solid 0.1rem #f5f5f5;
    flex-shrink: 0;
    margin-right: 0.2rem;
    box-sizing: border-box;
    padding: 3.35rem 2.912rem 2.439rem 2.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .item--6FJ {
      display: flex;
      letter-spacing: -0.11rem;
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 9.288rem 1.55rem 0rem;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.4475;
      flex-shrink: 0;
    }
    .auto-group-6qcx-ndv {
      height: 6.7609rem;
      position: relative;
      flex-shrink: 0;
      margin-left: 0.8rem;
      width: 14.0878rem;

      .item--X5i {
        font-family: Noto Sans KR, 'Source Sans Pro';
        top: 0;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #666666;
        display: flex;
        font-weight: 100;
        letter-spacing: -0.08rem;
        width: 13.4rem;
        height: 4.8rem;
        position: absolute;
        left: 0;
      }
      .icon-edit-2-bbN {
        top: 3.0652rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.5722rem;
        height: 3.6957rem;
        position: absolute;
        left: 10.5156rem;
      }
    }
  }
  .a-urx {
    border: solid 0.1rem #f5f5f5;
    flex-shrink: 0;
    margin-top: 0.3rem;
    box-sizing: border-box;
    padding: 3.35rem 2.885rem 2.404rem 2.2rem;
    width: 20rem;

    .item--epY {
      white-space: nowrap;
      margin-bottom: 0.35rem;
      display: flex;
      line-height: 1.4475;
      letter-spacing: -0.11rem;
      color: #000000;
      font-size: 2rem;
      font-weight: 300;
      font-family: Noto Sans KR, 'Source Sans Pro';
    }
    .auto-group-nkzp-MU4 {
      display: flex;
      align-items: flex-end;
      margin-left: 0.4rem;
      width: calc(100% - 0.4rem);

      .item--7CL {
        max-width: 10.5rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 1.6;
        font-family: Noto Sans KR, 'Source Sans Pro';
        margin: 0rem 0.9rem 3.196rem 0rem;
        letter-spacing: -0.08rem;
        color: #666666;
        flex-shrink: 0;
      }
      .icon-notification-YoS {
        width: 3.1146rem;
        height: 3.6957rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
