
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.usermenuhover-2uW {
  box-sizing: border-box;
  padding: 1.9rem 6.2rem 1.9rem 9.7rem;
  width: 100%;
  height: 38rem;
  overflow: hidden;
  position: relative;
  background-color: #e4f6df;

  .frame-5-jJ8 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 29.3rem;

    .auto-group-lxk2-4rC {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 146rem;
      height: 100%;
      align-items: flex-end;

      .auto-group-dj7z-Q9N {
        flex-shrink: 0;
        margin-bottom: 2.5rem;
        width: 100%;
        height: 8.3rem;
        display: flex;
        align-items: center;

        .logo44-2-MKW {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.8rem 6.8rem 0rem 0rem;
          width: 17.1rem;
          height: 6.5rem;
        }
        .auto-group-gnj4-SLx {
          width: 122.1rem;
          height: 8.35rem;
          position: relative;
          flex-shrink: 0;

          .component-2-m8L {
            display: flex;
            align-items: center;
            color: #000000;
            font-family: Noto Sans KR, 'Source Sans Pro';
            height: 8rem;
            cursor: pointer;
            position: absolute;
            left: 1.1rem;
            line-height: 2.5;
            width: 22rem;
            top: 0.3rem;
            justify-content: center;
            font-size: 3.2rem;
            overflow: hidden;
            font-weight: 300;
            white-space: nowrap;
          }
          .component-2-24G {
            cursor: pointer;
            font-weight: 300;
            line-height: 2.6666666667;
            width: 29rem;
            height: 8rem;
            top: 0;
            display: flex;
            white-space: nowrap;
            position: absolute;
            justify-content: center;
            color: #000000;
            font-family: Noto Sans KR, 'Source Sans Pro';
            left: 26.9rem;
            align-items: center;
            font-size: 3rem;
          }
          .component-4-v9e {
            width: 14.6rem;
            height: 8rem;
            font-size: 3rem;
            line-height: 2.6666666667;
            color: #000000;
            left: 63.75rem;
            overflow: hidden;
            justify-content: center;
            white-space: nowrap;
            position: absolute;
            top: 0.35rem;
            display: flex;
            font-weight: 300;
            align-items: center;
            font-family: Noto Sans KR, 'Source Sans Pro';
          }
          .component-5-1B6 {
            top: 0.3rem;
            line-height: 2.6666666667;
            color: #000000;
            left: 86.3rem;
            font-size: 3rem;
            font-family: Noto Sans KR, 'Source Sans Pro';
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 8rem;
            position: absolute;
            overflow: hidden;
            justify-content: center;
            font-weight: 300;
            white-space: nowrap;
            width: 13.5rem;
          }
          .component-3-7V2 {
            color: #000000;
            white-space: nowrap;
            height: 7.5rem;
            cursor: pointer;
            position: absolute;
            justify-content: center;
            font-size: 3rem;
            line-height: 2.6666666667;
            font-family: Noto Sans KR, 'Source Sans Pro';
            width: 18.5rem;
            left: 103.6rem;
            top: 0.3rem;
            display: flex;
            align-items: center;
            overflow: hidden;
            font-weight: 300;
          }
          .line-1-zYp {
            width: 120rem;
            height: 0.1rem;
            position: absolute;
            left: 0;
            top: 7.7rem;
            background-color: #295b49;
          }
        }
      }
      .frame-4-77e {
        margin-right: 5.15rem;
        height: 18.5rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .item-1-boW {
          flex-shrink: 0;
          margin-right: 14.55rem;
          height: 100%;
          row-gap: 2.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .item--LFJ {
            color: #284922;
            display: flex;
            align-items: center;
            font-weight: 100;
            line-height: 1.847826087;
            letter-spacing: -0.0375rem;
            flex-shrink: 0;
            cursor: pointer;
            justify-content: center;
            font-size: 2.3rem;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item--qxk {
            align-items: center;
            font-size: 2.3rem;
            font-weight: 100;
            line-height: 1.847826087;
            letter-spacing: -0.0375rem;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            color: #284922;
            flex-shrink: 0;
            justify-content: center;
          }
          .contents-mbW {
            align-items: center;
            font-size: 2.3rem;
            line-height: 1.847826087;
            color: #284922;
            font-family: Noto Sans KR, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-weight: 100;
            letter-spacing: -0.0375rem;
            white-space: nowrap;
          }
        }
        .item-2-rsr {
          flex-shrink: 0;
          margin-right: 17.9rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .item--1Ex {
            font-weight: 100;
            line-height: 1.847826087;
            font-family: Noto Sans KR, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-size: 2.3rem;
            color: #284922;
            white-space: nowrap;
            margin-bottom: 2.8rem;
            align-items: center;
            letter-spacing: -0.0375rem;
          }
          .contents-VA8 {
            align-items: center;
            white-space: nowrap;
            display: flex;
            font-size: 2.3rem;
            font-weight: 100;
            line-height: 1.847826087;
            letter-spacing: -0.0375rem;
            color: #284922;
            font-family: Noto Sans KR, 'Source Sans Pro';
            flex-shrink: 0;
            justify-content: center;
          }
        }
        .item-4-QH6 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 14.5rem;
          height: 100%;
          row-gap: 2.8rem;

          .contents-Wb2 {
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.3rem;
            font-weight: 100;
            line-height: 1.847826087;
            letter-spacing: -0.0375rem;
            color: #284922;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
          }
          .contents-dvY {
            display: flex;
            font-size: 2.3rem;
            font-weight: 100;
            letter-spacing: -0.0375rem;
            font-family: Noto Sans KR, 'Source Sans Pro';
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            line-height: 1.847826087;
            color: #284922;
            white-space: nowrap;
          }
          .contents-nYY {
            display: flex;
            justify-content: center;
            font-weight: 100;
            letter-spacing: -0.0375rem;
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            font-size: 2.3rem;
            line-height: 1.847826087;
            color: #284922;
            font-family: Noto Sans KR, 'Source Sans Pro';
          }
        }
        .item-3-KHa {
          margin-right: 10.3rem;
          height: 100%;
          row-gap: 2.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .contents-rYQ {
            display: flex;
            align-items: center;
            font-weight: 100;
            line-height: 1.847826087;
            letter-spacing: -0.0375rem;
            color: #284922;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            font-size: 2.3rem;
            flex-shrink: 0;
          }
          .contents-mfN {
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 2.3rem;
            color: #284922;
            white-space: nowrap;
            display: flex;
            font-weight: 100;
            line-height: 1.847826087;
            letter-spacing: -0.0375rem;
            font-family: Noto Sans KR, 'Source Sans Pro';
          }
          .contents-6he {
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-weight: 100;
            line-height: 1.847826087;
            font-family: Noto Sans KR, 'Source Sans Pro';
            align-items: center;
            font-size: 2.3rem;
            letter-spacing: -0.0375rem;
            color: #284922;
            white-space: nowrap;
          }
        }
        .item-5-SmW {
          flex-shrink: 0;
          height: 100%;
          row-gap: 2.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .contents-bPW {
            align-items: center;
            justify-content: center;
            letter-spacing: -0.0375rem;
            color: #284922;
            font-family: Noto Sans KR, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            font-size: 2.3rem;
            font-weight: 100;
            line-height: 1.847826087;
            white-space: nowrap;
          }
          .contents-YJk {
            display: flex;
            font-size: 2.3rem;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-weight: 100;
            line-height: 1.847826087;
            letter-spacing: -0.0375rem;
            color: #284922;
          }
          .contents-Tgc {
            display: flex;
            justify-content: center;
            font-size: 2.3rem;
            line-height: 1.847826087;
            letter-spacing: -0.0375rem;
            font-family: Noto Sans KR, 'Source Sans Pro';
            align-items: center;
            font-weight: 100;
            color: #284922;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-zmgc-Q64 {
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 0rem 1rem 6.9rem;

      .btn-icY {
        justify-content: center;
        box-sizing: border-box;
        margin-right: 2rem;
        font-size: 2rem;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Noto Sans, 'Source Sans Pro';
        white-space: nowrap;
        border: solid 0.2rem rgba(104, 225, 101, 0.8000000119);
        flex-shrink: 0;
        height: 5rem;
        line-height: 1.3625;
        display: flex;
        border-radius: 0.5rem;
        width: 10.1rem;
        text-align: center;
        align-items: center;
        background: linear-gradient(180deg, rgba(207, 255, 170, 0.8000000119) 0%, rgba(207, 255, 170, 0.8000000119) 41.15%, rgba(207, 255, 170, 0.8000000119) 73.44%, rgba(236, 252, 223, 0.8000000119) 100%);
        cursor: pointer;
      }
      .btn-Jak {
        flex-shrink: 0;
        width: 11.1rem;
        line-height: 1.3625;
        font-family: Noto Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        border: solid 0.1rem rgba(104, 225, 101, 0.8000000119);
        box-sizing: border-box;
        cursor: pointer;
        text-align: center;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.6999999881);
        align-items: center;
        justify-content: center;
        height: 5rem;
        font-weight: 700;
        background: linear-gradient(180deg, rgba(207, 255, 170, 0.8000000119) 18.75%, rgba(207, 255, 170, 0.8000000119) 54.69%, rgba(207, 255, 170, 0.8000000119) 74.48%, rgba(207, 255, 170, 0.8000000119) 88.54%);
        border-radius: 0.5rem;
      }
    }
  }
}
