
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.userheader-ESc {
  background-color: #86c48d;
  box-sizing: border-box;
  padding-left: 2.6rem;
  width: 100%;
  display: flex;
  align-items: center;

  .logo44-1-AbA {
    margin: 0rem 6.2rem 0.2rem 0rem;
    width: 17.0826rem;
    height: 6.5rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .ul-sVa {
    box-sizing: border-box;
    padding: 0.2rem 6.1rem 0rem 6.05rem;
    height: 8.2rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .item--1Lt {
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 14.2rem;
      line-height: 3.3333333333;
      font-family: Noto Sans KR, 'Source Sans Pro';
      justify-content: center;
    }
    .item--iWC {
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 13.45rem;
      display: flex;
      line-height: 3.3333333333;
      color: #ffffff;
      flex-shrink: 0;
    }
    .item--yh2 {
      color: #ffffff;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 700;
      white-space: nowrap;
      margin-right: 12.1rem;
      display: flex;
      line-height: 3.3333333333;
      font-family: Noto Sans KR, 'Source Sans Pro';
    }
    .item--snQ {
      color: #ffffff;
      font-family: Noto Sans KR, 'Source Sans Pro';
      display: flex;
      line-height: 3.3333333333;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 700;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 12.3rem;
      align-items: center;
    }
    .item--Bo6 {
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.3333333333;
      align-items: center;
      color: #ffffff;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-eysa-Hr8 {
    padding: 0.5rem 8.317rem 0.7rem 6.2rem;
    height: 8.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;

    .menu-state-hover-menu-state-hover-default-RhS {
      flex-shrink: 0;
      margin-right: 6.2rem;
      box-sizing: border-box;
      padding: 1rem;
      width: 12.1rem;
      height: 100%;
      cursor: pointer;

      .btn-kzc {
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 1.3625;
        align-items: center;
        background-color: rgba(207, 255, 170, 0.6999999881);
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 2rem;
        font-family: Noto Sans, 'Source Sans Pro';
        border: solid 0.1rem rgba(0, 0, 0, 0.150000006);
        font-weight: 700;
        color: rgba(0, 0, 0, 0.6000000238);
        white-space: nowrap;
        display: flex;
      }
    }
    .btn-2hE {
      font-size: 2rem;
      white-space: nowrap;
      box-sizing: border-box;
      background-color: rgba(207, 255, 170, 0.6999999881);
      margin: 1rem 0;
      width: 11.1rem;
      line-height: 1.3625;
      border: solid 0.1rem rgba(0, 0, 0, 0.150000006);
      cursor: pointer;
      color: rgba(0, 0, 0, 0.6000000238);
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 2rem);
      text-align: center;
      font-weight: 700;
      font-family: Noto Sans, 'Source Sans Pro';
      border-radius: 0.5rem;
      flex-shrink: 0;
    }
  }
}
