
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.userbcheck-Tep {
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
  width: 100%;
  align-items: center;

  .div-bW8 {
    flex-shrink: 0;
    margin-bottom: 14.3rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;

    .header-9Gk {
      width: 100%;
      height: 8.2rem;
      align-items: center;
      margin-bottom: 5.8rem;
      box-sizing: border-box;
      padding-left: 2.6rem;
      display: flex;
      background-color: #86c48d;
      flex-shrink: 0;

      .logo44-1-5gC {
        height: 6.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.1rem 0.3rem 0rem;
        width: 17.0826rem;
      }
      .ul-144 {
        box-sizing: border-box;
        padding: 0.2rem 18.483rem 0rem 6.05rem;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .item--Xo6 {
          align-items: center;
          justify-content: center;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 3.3333333333;
          font-family: Noto Sans KR, 'Source Sans Pro';
          margin-right: 14.2174rem;
          display: flex;
          white-space: nowrap;
          color: #ffffff;
          flex-shrink: 0;
        }
        .item--nU8 {
          justify-content: center;
          font-size: 2.4rem;
          line-height: 3.3333333333;
          font-family: Noto Sans KR, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-weight: 700;
          color: #ffffff;
          white-space: nowrap;
          margin-right: 13.2826rem;
        }
        .item--rit {
          display: flex;
          align-items: center;
          font-weight: 700;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 10.0674rem;
          justify-content: center;
          font-size: 2.4rem;
          line-height: 3.3333333333;
          color: #ffffff;
        }
        .item--mqr {
          font-family: Noto Sans KR, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 13.2rem;
          display: flex;
          font-weight: 700;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-size: 2.4rem;
          line-height: 3.3333333333;
        }
        .item--67S {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          justify-content: center;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 3.3333333333;
          color: #ffffff;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-gzxq-nkx {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 2.6rem 1.7rem 4.1rem;
        height: 100%;

        .btn-8K2 {
          align-items: center;
          height: 100%;
          text-align: center;
          line-height: 1.3625;
          justify-content: center;
          margin-right: 4.1rem;
          width: 6.2rem;
          font-weight: 700;
          color: #ffffff;
          font-family: Noto Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2rem;
          display: flex;
        }
        .btn-D5a {
          cursor: pointer;
          white-space: nowrap;
          flex-shrink: 0;
          justify-content: center;
          width: 13.9174rem;
          height: 100%;
          text-align: center;
          font-size: 2rem;
          align-items: center;
          font-weight: 700;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Noto Sans, 'Source Sans Pro';
          display: flex;
        }
      }
    }
    .div-Syv {
      margin: 0rem 50.7rem 0rem 42.3rem;
      width: calc(100% - 93rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .div-zVe {
        border: solid 0.1rem #eeeff0;
        flex-shrink: 0;
        line-height: 1.4475;
        white-space: nowrap;
        margin-bottom: 3.2rem;
        width: 100%;
        letter-spacing: -0.3rem;
        box-sizing: border-box;
        height: 7.5rem;
        font-size: 4rem;
        font-weight: 300;
        color: #151515;
        font-family: Noto Sans KR, 'Source Sans Pro';
        padding: 0.05rem 0;
        display: flex;
      }
      .div-HDr {
        width: 93.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-8awc-eKJ {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 5.3rem;

          .item--oCC {
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-weight: 100;
            color: #151515;
            letter-spacing: -0.21rem;
            margin-bottom: 1.6rem;
            font-size: 2.8rem;
            line-height: 1.4475;
          }
          .frame-35-5Qc {
            position: relative;
            border: solid 0.1rem rgba(146, 219, 111, 0.6999999881);
            box-sizing: border-box;
            border-radius: 1.5rem;
            flex-shrink: 0;
            margin: 0rem 16.1rem 0rem 19.1rem;
            height: 48.3rem;
            background-color: #ffffff;
            width: calc(100% - 35.2rem);
            overflow: hidden;

            .rectangle-Qxg {
              width: 68rem;
              height: 53.2rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
        .div-gQQ {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--FCc {
            margin-bottom: 1.4rem;
            font-size: 2.8rem;
            color: #151515;
            flex-shrink: 0;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-weight: 100;
            line-height: 1.4475;
            letter-spacing: -0.21rem;
          }
          .frame-33-vJk {
            margin-left: 2.5rem;
            padding: 1.4rem 1.5rem;
            overflow: hidden;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 91.4rem;
            height: 33.2rem;
            position: relative;
            border: solid 0.1rem rgba(146, 219, 111, 0.6999999881);
            background-color: #ffffff;
            border-radius: 1.5rem;

            .table-SXz {
              border: solid 0.1rem #b9b9b9;
              box-sizing: border-box;
              border-radius: 0.4rem;
              width: 85.7rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              overflow: hidden;
              position: relative;
              background-color: #ffffff;

              .row-ynp {
                flex-shrink: 0;
                width: 100%;
                height: 3.8rem;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;

                .cell-wDr {
                  background-color: rgba(0, 0, 0, 0.0599999987);
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.95rem 5.2rem;
                  width: 13rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;

                  .content-4JU {
                    position: relative;
                    align-items: center;
                    font-size: 1.4rem;
                    font-weight: 200;
                    color: #000000;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    line-height: 1.2999999183;
                  }
                }
                .cell-YzL {
                  box-sizing: border-box;
                  padding: 0.95rem 13.55rem;
                  width: 28.8rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  background-color: rgba(0, 0, 0, 0.0599999987);
                  flex-shrink: 0;

                  .content-Jic {
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    font-size: 1.4rem;
                    line-height: 1.2999999183;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    width: 100%;
                    position: relative;
                    align-items: center;
                    font-weight: 200;
                    white-space: nowrap;
                  }
                }
                .cell-czC {
                  width: 14.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  background-color: rgba(0, 0, 0, 0.0599999987);
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.95rem 6.2rem;

                  .content-LQQ {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.4rem;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    font-weight: 200;
                    line-height: 1.2999999183;
                  }
                }
                .cell-45W {
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  background-color: rgba(0, 0, 0, 0.0599999987);
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.95rem 11.6rem;
                  width: 30.1rem;

                  .content-zUx {
                    position: relative;
                    font-size: 1.4rem;
                    line-height: 1.2999999183;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    justify-content: center;
                    font-weight: 200;
                    color: #000000;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                  }
                }
              }
              .row-tKS {
                width: 100%;
                height: 3.8rem;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .cell-19A {
                  box-sizing: border-box;
                  padding: 0.95rem 1.55rem;
                  width: 13rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .content-AGx {
                    line-height: 1.2999999183;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.4rem;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    font-weight: 300;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                  }
                }
                .cell-5ui {
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 28.8rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .content-cPr {
                    overflow: hidden;
                    position: relative;
                    font-size: 1.4rem;
                    font-weight: 300;
                    white-space: nowrap;
                    width: 17.7rem;
                    line-height: 1.2999999183;
                    color: #000000;
                    align-items: center;
                    height: 100%;
                    margin-right: 8.7rem;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    justify-content: center;
                  }
                }
                .cell-gec {
                  box-sizing: border-box;
                  padding: 0.5rem 3.25rem;
                  width: 14.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .status-RMJ {
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    border: solid 0.16rem #077d55;
                    align-items: center;
                    font-size: 1.4rem;
                    color: #077d55;
                    display: flex;
                    overflow: hidden;
                    text-align: center;
                    justify-content: center;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    border-radius: 0.6rem;
                    position: relative;
                    font-weight: 500;
                    line-height: 1.4285714286;
                  }
                }
                .cell-WNk {
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 30.1rem;

                  .content-S1W {
                    overflow: hidden;
                    font-weight: 300;
                    align-items: center;
                    justify-content: center;
                    width: 12.1rem;
                    line-height: 1.2999999183;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 1.4rem;
                    color: #000000;
                    margin-right: 15.6rem;
                    height: 100%;
                    position: relative;
                    white-space: nowrap;
                    display: flex;
                  }
                }
              }
              .row-KLC {
                height: 3.8rem;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 100%;

                .cell-GmE {
                  width: 13rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.95rem 1.45rem;

                  .content-dbn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.4rem;
                    line-height: 1.2999999183;
                    color: #000000;
                    white-space: nowrap;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    font-weight: 300;
                    font-family: Inter, 'Source Sans Pro';
                    height: 100%;
                  }
                }
                .cell-94L {
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 28.8rem;
                  height: 100%;

                  .content-h5r {
                    width: 13.2rem;
                    color: #000000;
                    font-size: 1.4rem;
                    line-height: 1.2999999183;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    white-space: nowrap;
                    display: flex;
                    margin-right: 13.2rem;
                    font-weight: 300;
                    font-family: Inter, 'Source Sans Pro';
                    align-items: center;
                    justify-content: center;
                  }
                }
                .cell-bh2 {
                  box-sizing: border-box;
                  padding: 0.5rem 4.1rem;
                  width: 14.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .status-Lec {
                    color: #cf5b16;
                    justify-content: center;
                    box-sizing: border-box;
                    align-items: center;
                    border: solid 0.16rem #cf5b16;
                    border-radius: 0.6rem;
                    text-align: center;
                    font-weight: 500;
                    white-space: nowrap;
                    line-height: 1.4285714286;
                    font-family: Roboto, 'Source Sans Pro';
                    height: 100%;
                    overflow: hidden;
                    font-size: 1.4rem;
                    width: 100%;
                    position: relative;
                    display: flex;
                  }
                }
                .cell-pJt {
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 30.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;

                  .content-Ade {
                    width: 13.2rem;
                    overflow: hidden;
                    position: relative;
                    font-weight: 300;
                    justify-content: center;
                    height: 100%;
                    font-size: 1.4rem;
                    line-height: 1.2999999183;
                    white-space: nowrap;
                    margin-right: 14.5rem;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    align-items: center;
                    display: flex;
                  }
                }
              }
              .row-2vk {
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 100%;
                height: 3.8rem;

                .cell-K9A {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.95rem 1.45rem;
                  width: 13rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;

                  .content-r96 {
                    font-weight: 300;
                    line-height: 1.2999999183;
                    color: #000000;
                    width: 100%;
                    display: flex;
                    font-size: 1.4rem;
                    align-items: center;
                    justify-content: center;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                  }
                }
                .cell-KHa {
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 28.8rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .content-GCp {
                    width: 16.3rem;
                    height: 100%;
                    line-height: 1.2999999183;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10.1rem;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    overflow: hidden;
                    position: relative;
                    white-space: nowrap;
                    font-size: 1.4rem;
                    font-weight: 300;
                  }
                }
                .cell-B4t {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.5rem 4.1rem;
                  width: 14.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;

                  .status-Wsr {
                    justify-content: center;
                    font-size: 1.4rem;
                    color: #d91f11;
                    line-height: 1.4285714286;
                    white-space: nowrap;
                    align-items: center;
                    border: solid 0.16rem #d91f11;
                    border-radius: 0.6rem;
                    height: 100%;
                    position: relative;
                    text-align: center;
                    font-weight: 500;
                    font-family: Roboto, 'Source Sans Pro';
                    box-sizing: border-box;
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                  }
                }
                .cell-Bj6 {
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 30.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;

                  .content-7se {
                    margin-right: 10.4rem;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    line-height: 1.2999999183;
                    width: 17.3rem;
                    overflow: hidden;
                    justify-content: center;
                    height: 100%;
                    position: relative;
                    font-size: 1.4rem;
                    font-weight: 300;
                    color: #000000;
                  }
                }
              }
              .row-2zc {
                height: 3.8rem;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 100%;

                .cell-C8Q {
                  box-sizing: border-box;
                  padding: 0.95rem 1.45rem;
                  width: 13rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .content-MX6 {
                    line-height: 1.2999999183;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.4rem;
                    font-weight: 300;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    color: #000000;
                  }
                }
                .cell-Urc {
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 28.8rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .content-p9n {
                    white-space: nowrap;
                    font-weight: 300;
                    justify-content: center;
                    display: flex;
                    height: 100%;
                    position: relative;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 1.4rem;
                    line-height: 1.2999999183;
                    color: #000000;
                    align-items: center;
                    margin-right: 11rem;
                    width: 15.4rem;
                    overflow: hidden;
                  }
                }
                .cell-78t {
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.5rem 3.2rem 0.5rem 3.3rem;
                  width: 14.1rem;

                  .status-cbS {
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.4285714286;
                    border: solid 0.16rem #077d55;
                    height: 100%;
                    color: #077d55;
                    font-family: Roboto, 'Source Sans Pro';
                    box-sizing: border-box;
                    width: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.6rem;
                    overflow: hidden;
                    white-space: nowrap;
                  }
                }
                .cell-6Wc {
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 30.1rem;
                  height: 100%;

                  .content-SqN {
                    align-items: center;
                    margin-right: 13.8rem;
                    font-weight: 300;
                    line-height: 1.2999999183;
                    color: #000000;
                    white-space: nowrap;
                    justify-content: center;
                    width: 13.9rem;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    font-size: 1.4rem;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                  }
                }
              }
              .row-uyr {
                align-items: center;
                flex-shrink: 0;
                width: 100%;
                height: 3.8rem;
                overflow: hidden;
                position: relative;
                display: flex;

                .cell-GpQ {
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.95rem 1.45rem;
                  width: 13rem;
                  height: 100%;

                  .content-EWL {
                    color: #000000;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;
                    position: relative;
                    display: flex;
                    font-size: 1.4rem;
                    line-height: 1.2999999183;
                    font-family: Inter, 'Source Sans Pro';
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                  }
                }
                .cell-85v {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 28.8rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;

                  .content-Ghv {
                    height: 100%;
                    overflow: hidden;
                    font-family: Inter, 'Source Sans Pro';
                    width: 18.3rem;
                    position: relative;
                    font-size: 1.4rem;
                    font-weight: 300;
                    white-space: nowrap;
                    align-items: center;
                    justify-content: center;
                    margin-right: 8.1rem;
                    line-height: 1.2999999183;
                    color: #000000;
                    display: flex;
                  }
                }
                .cell-meg {
                  width: 14.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.5rem 4.1rem;

                  .status-w3N {
                    display: flex;
                    border: solid 0.16rem #cf5b16;
                    border-radius: 0.6rem;
                    overflow: hidden;
                    font-size: 1.4rem;
                    font-weight: 500;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    justify-content: center;
                    box-sizing: border-box;
                    height: 100%;
                    text-align: center;
                    line-height: 1.4285714286;
                    color: #cf5b16;
                    width: 100%;
                    position: relative;
                    align-items: center;
                  }
                }
                .cell-NuN {
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 30.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .content-L5W {
                    line-height: 1.2999999183;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    margin-right: 12.1rem;
                    width: 15.6rem;
                    height: 100%;
                    overflow: hidden;
                    font-size: 1.4rem;
                    font-weight: 300;
                    white-space: nowrap;
                    align-items: center;
                  }
                }
              }
              .row-Rck {
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 100%;
                height: 3.8rem;

                .cell-jNY {
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.95rem 1.45rem;
                  width: 13rem;
                  height: 100%;

                  .content-UL8 {
                    line-height: 1.2999999183;
                    width: 100%;
                    align-items: center;
                    font-weight: 300;
                    display: flex;
                    justify-content: center;
                    font-size: 1.4rem;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    white-space: nowrap;
                  }
                }
                .cell-Phz {
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 28.8rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;

                  .content-Lt8 {
                    font-weight: 300;
                    white-space: nowrap;
                    align-items: center;
                    width: 15.6rem;
                    line-height: 1.2999999183;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    margin-right: 10.8rem;
                    overflow: hidden;
                    position: relative;
                    font-size: 1.4rem;
                    color: #000000;
                  }
                }
                .cell-SRN {
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 0.5rem 3.2rem 0.5rem 3.3rem;
                  width: 14.1rem;
                  height: 100%;

                  .status-Zkt {
                    font-size: 1.4rem;
                    justify-content: center;
                    border: solid 0.16rem #077d55;
                    font-weight: 500;
                    display: flex;
                    box-sizing: border-box;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    color: #077d55;
                    font-family: Roboto, 'Source Sans Pro';
                    align-items: center;
                    width: 100%;
                    line-height: 1.4285714286;
                    white-space: nowrap;
                    border-radius: 0.6rem;
                  }
                }
                .cell-QWc {
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 30.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .content-Xr8 {
                    margin-right: 10.6rem;
                    font-size: 1.4rem;
                    position: relative;
                    line-height: 1.2999999183;
                    display: flex;
                    width: 17.1rem;
                    color: #000000;
                    justify-content: center;
                    height: 100%;
                    overflow: hidden;
                    font-weight: 300;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    align-items: center;
                  }
                }
              }
              .row-N64 {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 100%;
                height: 3.8rem;
                overflow: hidden;
                position: relative;

                .cell-ifi {
                  box-sizing: border-box;
                  padding: 0.95rem 1.5rem;
                  width: 13rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .content-t4Q {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    color: #000000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 1.2999999183;
                  }
                }
                .cell-QYY {
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 28.8rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .content-7xk {
                    width: 13.6rem;
                    height: 100%;
                    overflow: hidden;
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 1.2999999183;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-right: 12.8rem;
                    align-items: center;
                    position: relative;
                    color: #000000;
                    display: flex;
                    justify-content: center;
                  }
                }
                .cell-cPi {
                  box-sizing: border-box;
                  padding: 0.5rem 4.1rem;
                  width: 14.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .status-Ag8 {
                    height: 100%;
                    font-size: 1.4rem;
                    font-weight: 500;
                    align-items: center;
                    text-align: center;
                    line-height: 1.4285714286;
                    font-family: Roboto, 'Source Sans Pro';
                    display: flex;
                    box-sizing: border-box;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    color: #cf5b16;
                    border: solid 0.16rem #cf5b16;
                    border-radius: 0.6rem;
                    white-space: nowrap;
                    justify-content: center;
                  }
                }
                .cell-qXN {
                  box-sizing: border-box;
                  padding: 1rem 1.2rem 0.9rem 1.2rem;
                  width: 30.1rem;
                  height: 100%;
                  border: solid 0.1rem #b9b9b9;
                  flex-shrink: 0;

                  .content-bFe {
                    font-size: 1.4rem;
                    align-items: center;
                    width: 11.5rem;
                    height: 100%;
                    position: relative;
                    margin-right: 16.2rem;
                    font-weight: 300;
                    white-space: nowrap;
                    justify-content: center;
                    line-height: 1.2999999183;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    overflow: hidden;
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footer-QTz {
    box-sizing: border-box;
    padding-bottom: 1.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;

    .div-XYc {
      margin-bottom: 1.15rem;
      line-height: 1.4475;
      letter-spacing: -0.08rem;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      padding: 1.8rem 32rem 1.2rem 32rem;
      border: solid 0.1rem #f1f1f1;
      font-size: 1.5rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      font-weight: 100;
      color: #555555;
      flex-shrink: 0;
    }
    .div-nUY {
      margin: 0rem 111.347rem 0rem 32rem;
      width: calc(100% - 143.3469rem);
      height: 7.25rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .logo44-1-VNx {
        margin: 0.65rem 2.539rem 0rem 0rem;
        width: 9.7rem;
        height: 3.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .address-bRz {
        width: 36.4141rem;
        height: 100%;
        flex-shrink: 0;

        .auto-group-2h4l-8gp {
          width: 100%;
          display: flex;
          align-items: center;

          .item-31-15-34-VXN {
            margin: 0.05rem 7.97rem 0rem 0rem;
            display: flex;
            font-size: 1.6rem;
            line-height: 1.4475;
            letter-spacing: -0.08rem;
            flex-shrink: 0;
            font-weight: 100;
            color: #555555;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
          }
          .span-ySY {
            margin-bottom: 0.05rem;
            height: 2.4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item--4D6 {
              margin-right: 2.2438rem;
              font-weight: 100;
              letter-spacing: -0.08rem;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              line-height: 1.4475;
              color: #555555;
              font-family: Noto Sans KR, 'Source Sans Pro';
            }
            .item-062-1234-5678-yL4 {
              font-size: 1.6rem;
              color: #333333;
              display: flex;
              font-weight: 100;
              line-height: 1.4475;
              letter-spacing: -0.08rem;
              font-family: Noto Sans KR, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .email-smartboothsolsbsolcom-sAY {
          font-size: 1.6rem;
          font-weight: 100;
          line-height: 1.4475;
          letter-spacing: -0.08rem;
          color: #333333;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
        }
        .copyright-sb-sol-all-right-reserved-QAU {
          line-height: 1.4475;
          letter-spacing: -0.08rem;
          color: #555555;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.6rem;
          font-weight: 100;
        }
      }
    }
  }
}
